This is the dataset from Kaggle Dataset

In [3]:
import pandas as pd

establishment_df=pd.read_csv("data/Grab SG Restaurants.csv")

establishment_df.head()

#Used by Hassan
cuisine_df=establishment_df

# Used my Lee Hong Eng
grab_df = establishment_df

# Used by Rosni
grab_rest = establishment_df

## Exploratory Data Analysis

Simple exploratory Data Analysis to understand the data

In [4]:
establishment_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16136 entries, 0 to 16135
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_source         16136 non-null  object
 1   name              16130 non-null  object
 2   address           16136 non-null  object
 3   country           16136 non-null  object
 4   cuisine           16134 non-null  object
 5   currency          16117 non-null  object
 6   delivery_cost     16085 non-null  float64
 7   lat               16136 non-null  float64
 8   lon               16136 non-null  float64
 9   opening_hours     16136 non-null  object
 10  image_url         16125 non-null  object
 11  radius            16136 non-null  int64
 12  rating            14004 non-null  float64
 13  reviews_nr        13602 non-null  float64
 14  delivery_options  16136 non-null  object
 15  promo             8777 non-null   object
 16  loc_type          16136 non-null  object
 17  delivery_by       16136 non-null  object
 18  delivery_time     15953 non-null  float64
dtypes: float64(6), int64(1), object(12)
memory usage: 2.3+ MB

So the dataset of 16136 rows of grab restaurants
you can see from the count that there are empty values for each column

In [5]:
establishment_df.describe()

,delivery_cost,lat,lon,radius,rating,reviews_nr,delivery_time
count,16085.000000,16136.000000,16136.000000,16136.000000,14004.000000,13602.000000,15953.000000
mean,984.926640,1.338491,103.843448,6871.493183,4.238346,343.591604,37.552811
std,656.544752,0.045269,0.062123,6170.013565,0.619217,846.893054,15.728705
min,199.000000,1.230454,103.625677,578.000000,-1.000000,1.000000,15.000000
25%,450.000000,1.304839,103.806196,4999.000000,4.000000,16.000000,28.000000
50%,680.000000,1.332154,103.846004,5000.000000,4.300000,74.000000,34.000000
75%,1610.000000,1.362576,103.885674,5000.000000,4.600000,303.000000,42.000000
max,14000.000000,1.469011,103.997253,25000.000000,5.000000,21113.000000,169.000000

# Data Cleaning on 'address' column: SAILA
### Which involves data inspection, Data correction, Data standardization and Data transformation.

- Remove duplicates-> the address column values are keyed in together with the establishment name seperated by "-"
- Standardize the wording -> currently the values entries are inconsistent cases: 
    example : 'Vivocity' , 'VivoCity'
- Inconsistent entry -> for the same address it was entered inconsistantly
    example: 'Vivocity', 'Vivo City' , 'Vivocity Shopping mall'
- Need to filter and transform the address entries to avoid unnecessary disticnt values.

In [6]:
#Splitting the data .Removing values before '-'
establishment_df['address'] = establishment_df['address'].apply(lambda x: x.split('-')[-1].strip())

# Display the modified DataFrame
print(establishment_df)

              id_source                         name  \
0             SGDD01085                Texas Chicken
1      4-CYTDLPUJEP53N6                       Subway
2             SGDD05605                     LiHO Tea
3             SGDD07548                     Wingstop
4      4-CY2ZLZLTT2EDJ2              Le Shrimp Ramen
...                 ...                          ...
16131  4-CZNFTYKKVA3UN2                 Minjiangkueh
16132         SGDD01192  The Modern Izakaya by Tatsu
16133         SGDD00961               Raj Restaurant
16134  4-C2AHJVATN7C2RE   Albismi Indian Muslim Food
16135  4-C2DXFEK2R6KJTJ  Zam Zam Indian Special Food

                        address    country  \
0                      VivoCity  Singapore
1                      Vivocity  Singapore
2                     Vivo City  Singapore
3                      VivoCity  Singapore
4                      Vivocity  Singapore
...                         ...        ...
16131          Ang Mo Kio Ave 3  Singapore
16132                       18)  Singapore
16133             SOHO @ Farrer  Singapore
16134            Woodlands Road  Singapore
16135  Yishun Industrial Park A  Singapore

                                                 cuisine currency  \
0      ["Western", "Fast Food", "Halal", "Chicken", "...      SGD
1      ["Healthy", "Sandwiches", "Fast Food", "Halal"...      SGD
2      ["Same Prices In-Store", "Beverages", "Local",...      SGD
3      ["Halal", "Chicken", "Fast Food", "Burger", "W...      SGD
4              ["Japanese", "Ramen", "Noodles", "Asian"]      SGD
...                                                  ...      ...
16131  ["Asian", "Bakery & Cake", "Breakfast & Brunch...      NaN
16132                   ["Japanese", "Noodles", "Grill"]      NaN
16133                ["Indian", "Dessert", "Vegetarian"]      SGD
16134                                         ["Indian"]      NaN
16135                                         ["Indian"]      NaN

       delivery_cost       lat         lon  \
0              570.0  1.264792  103.822103
1              570.0  1.264741  103.822072
2              560.0  1.264309  103.821369
3              560.0  1.263527  103.821712
4              570.0  1.264810  103.822554
...              ...       ...         ...
16131            NaN  1.370340  103.843225
16132            NaN  1.295404  103.851698
16133          560.0  1.310830  103.852873
16134            NaN  1.396885  103.753440
16135            NaN  1.441651  103.831330

                                           opening_hours  \
0      {"open": true, "displayedHours": "10:30-21:30"...
1      {"open": true, "displayedHours": "12:00-19:00"...
2      {"open": true, "displayedHours": "11:30-20:45"...
3      {"open": true, "displayedHours": "11:00-21:00"...
4      {"open": true, "displayedHours": "10:30-21:00"...
...                                                  ...
16131  {"displayedHours": "Closed", "sun": "Closed", ...
16132  {"displayedHours": "Closed", "sun": "12:00-14:...
16133  {"displayedHours": "Closed", "sun": "11:00-22:...
16134  {"displayedHours": "Closed", "sun": "09:00-22:...
16135  {"displayedHours": "Closed", "sun": "Closed", ...

                                               image_url  radius  rating  \
0      https://d1sag4ddilekf6.cloudfront.net/compress...    5000     3.8
1      https://d1sag4ddilekf6.cloudfront.net/compress...    3000     4.2
2      https://d1sag4ddilekf6.cloudfront.net/compress...    5000     4.5
3      https://d1sag4ddilekf6.cloudfront.net/compress...    5000     4.4
4      https://d1sag4ddilekf6.cloudfront.net/compress...    5000     4.6
...                                                  ...     ...     ...
16131  https://d1sag4ddilekf6.cloudfront.net/compress...    5000     5.0
16132  https://d1sag4ddilekf6.cloudfront.net/compress...    3000     NaN
16133  https://d1sag4ddilekf6.cloudfront.net/compress...    3000     3.9
16134  https://d1sag4ddilekf6.cloudfront.net/compress...    5000     3.6
16135  https://d1sag4ddilekf6.cloudfront.net/compress...    5000     4.3

       reviews_nr          delivery_options  \
0          1591.0             ONLY_DELIVERY
1           197.0             ONLY_DELIVERY
2           353.0         DELIVERY_TAKEAWAY
3          1391.0             ONLY_DELIVERY
4           309.0         DELIVERY_TAKEAWAY
...           ...                       ...
16131         2.0         DELIVERY_TAKEAWAY
16132         NaN         DELIVERY_TAKEAWAY
16133        72.0  DELIVERY_TAKEAWAY_DINEIN
16134        19.0         DELIVERY_TAKEAWAY
16135        37.0         DELIVERY_TAKEAWAY

                                                   promo loc_type delivery_by  \
0      Use 'TEATIME' for FREE delivery between 3PM to...     FOOD        GRAB
1      Use 'TEATIME' for FREE delivery between 3PM to...     FOOD        GRAB
2      Use 'TEATIME' for FREE delivery between 3PM to...     FOOD        GRAB
3      Use 'TEATIME' for FREE delivery between 3PM to...     FOOD        GRAB
4      Use 'TEATIME' for FREE delivery between 3PM to...     FOOD        GRAB
...                                                  ...      ...         ...
16131                                                NaN     FOOD        GRAB
16132                                                NaN     FOOD        GRAB
16133                                                NaN     FOOD        GRAB
16134                                                NaN     FOOD        GRAB
16135  Use 'TEATIME' for FREE delivery between 3PM to...     FOOD        GRAB

       delivery_time
0               43.0
1               42.0
2               41.0
3               45.0
4               44.0
...              ...
16131           26.0
16132           23.0
16133           26.0
16134           30.0
16135           27.0

[16136 rows x 19 columns]

In [7]:
establishment_df.head()

,id_source,name,address,country,cuisine,currency,delivery_cost,lat,lon,opening_hours,image_url,radius,rating,reviews_nr,delivery_options,promo,loc_type,delivery_by,delivery_time
0,SGDD01085,Texas Chicken,VivoCity,Singapore,"[""Western"", ""Fast Food"", ""Halal"", ""Chicken"", ""...",SGD,570.0,1.264792,103.822103,"{""open"": true, ""displayedHours"": ""10:30-21:30""...",https://d1sag4ddilekf6.cloudfront.net/compress...,5000,3.8,1591.0,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...,FOOD,GRAB,43.0
1,4-CYTDLPUJEP53N6,Subway,Vivocity,Singapore,"[""Healthy"", ""Sandwiches"", ""Fast Food"", ""Halal""...",SGD,570.0,1.264741,103.822072,"{""open"": true, ""displayedHours"": ""12:00-19:00""...",https://d1sag4ddilekf6.cloudfront.net/compress...,3000,4.2,197.0,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...,FOOD,GRAB,42.0
2,SGDD05605,LiHO Tea,Vivo City,Singapore,"[""Same Prices In-Store"", ""Beverages"", ""Local"",...",SGD,560.0,1.264309,103.821369,"{""open"": true, ""displayedHours"": ""11:30-20:45""...",https://d1sag4ddilekf6.cloudfront.net/compress...,5000,4.5,353.0,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...,FOOD,GRAB,41.0
3,SGDD07548,Wingstop,VivoCity,Singapore,"[""Halal"", ""Chicken"", ""Fast Food"", ""Burger"", ""W...",SGD,560.0,1.263527,103.821712,"{""open"": true, ""displayedHours"": ""11:00-21:00""...",https://d1sag4ddilekf6.cloudfront.net/compress...,5000,4.4,1391.0,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...,FOOD,GRAB,45.0
4,4-CY2ZLZLTT2EDJ2,Le Shrimp Ramen,Vivocity,Singapore,"[""Japanese"", ""Ramen"", ""Noodles"", ""Asian""]",SGD,570.0,1.264810,103.822554,"{""open"": true, ""displayedHours"": ""10:30-21:00""...",https://d1sag4ddilekf6.cloudfront.net/compress...,5000,4.6,309.0,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...,FOOD,GRAB,44.0

#### To Understand the dataframe entries-Distinct values at address column

In [8]:

distinct_addresses = establishment_df['address'].unique()
address_counts = establishment_df['address'].value_counts()

# Display distinct values and their counts
print("Distinct Addresses:")
print(distinct_addresses)
print("\nCount of Distinct Addresses:")
print(address_counts.head(50))

Distinct Addresses:
['VivoCity' 'Vivocity' 'Vivo City' ... 'Wilmer Place' '18)'
 'SOHO @ Farrer']

Count of Distinct Addresses:
address
Northpoint City                 90
Jurong Point                    86
Waterway Point                  81
Causeway Point                  76
Plaza Singapura                 74
Changi City Point               74
Westgate                        70
Geylang Road                    70
Suntec City Mall                65
East Coast Road                 62
Tiong Bahru Plaza               60
Great World City                59
Compass One                     59
Vivocity                        58
Hillion Mall                    57
NEX                             57
Our Tampines Hub                55
JEM                             55
Bedok Mall                      53
Tampines Mall                   49
New Upper Changi Road           48
Century Square                  45
Jewel Changi Airport            45
Harbourfront Centre             45
Vivo City                       45
Nex                             45
Joo Chiat Road                  44
West Mall                       43
The Star Vista                  41
Paya Lebar Quarter              40
Bukit Panjang Plaza             40
The Seletar Mall                40
City Square Mall                40
Clementi Ave 3                  38
Ang Mo Kio Ave 10               38
Bedok North Street 3            37
Far East Plaza                  37
Holland Village                 36
JTC Space @ Tampines North      36
Jurong West Street 41           36
Catering                        35
Paya Lebar Square               35
Mix & Match                     35
Funan                           35
Bukit Merah Central             35
Raffles City Shopping Centre    35
Ang Mo Kio Ave 8                34
Nordcom Two                     34
Junction 8                      33
Bukit Batok Street 11           33
Name: count, dtype: int64

#### Total Distinct values count

In [9]:
# Assuming 'establishment_df' is your DataFrame containing the data
total_distinct_addresses = establishment_df['address'].nunique()

# Display the total number of distinct addresses
print("Total distinct addresses:", total_distinct_addresses)

Total distinct addresses: 4998

### Standardize all the add with tittle case.

In [10]:
# Assuming 'establishment_df' is your DataFrame containing the data
establishment_df['address'] = establishment_df['address'].apply(lambda x: x.title())

# Display the modified DataFrame
establishment_df.head()

,id_source,name,address,country,cuisine,currency,delivery_cost,lat,lon,opening_hours,image_url,radius,rating,reviews_nr,delivery_options,promo,loc_type,delivery_by,delivery_time
0,SGDD01085,Texas Chicken,Vivocity,Singapore,"[""Western"", ""Fast Food"", ""Halal"", ""Chicken"", ""...",SGD,570.0,1.264792,103.822103,"{""open"": true, ""displayedHours"": ""10:30-21:30""...",https://d1sag4ddilekf6.cloudfront.net/compress...,5000,3.8,1591.0,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...,FOOD,GRAB,43.0
1,4-CYTDLPUJEP53N6,Subway,Vivocity,Singapore,"[""Healthy"", ""Sandwiches"", ""Fast Food"", ""Halal""...",SGD,570.0,1.264741,103.822072,"{""open"": true, ""displayedHours"": ""12:00-19:00""...",https://d1sag4ddilekf6.cloudfront.net/compress...,3000,4.2,197.0,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...,FOOD,GRAB,42.0
2,SGDD05605,LiHO Tea,Vivo City,Singapore,"[""Same Prices In-Store"", ""Beverages"", ""Local"",...",SGD,560.0,1.264309,103.821369,"{""open"": true, ""displayedHours"": ""11:30-20:45""...",https://d1sag4ddilekf6.cloudfront.net/compress...,5000,4.5,353.0,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...,FOOD,GRAB,41.0
3,SGDD07548,Wingstop,Vivocity,Singapore,"[""Halal"", ""Chicken"", ""Fast Food"", ""Burger"", ""W...",SGD,560.0,1.263527,103.821712,"{""open"": true, ""displayedHours"": ""11:00-21:00""...",https://d1sag4ddilekf6.cloudfront.net/compress...,5000,4.4,1391.0,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...,FOOD,GRAB,45.0
4,4-CY2ZLZLTT2EDJ2,Le Shrimp Ramen,Vivocity,Singapore,"[""Japanese"", ""Ramen"", ""Noodles"", ""Asian""]",SGD,570.0,1.264810,103.822554,"{""open"": true, ""displayedHours"": ""10:30-21:00""...",https://d1sag4ddilekf6.cloudfront.net/compress...,5000,4.6,309.0,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...,FOOD,GRAB,44.0

#### Cleaning the [address] column further by changing the case to tittle form.The distinct count reduced from 4998 to 4883

In [11]:
#To find the total distinct value after changing the values in address column to tittle case.
total_distinct_addresses = establishment_df['address'].nunique()

# Display the total number of distinct addresses
print("Total distinct addresses:", total_distinct_addresses)

Total distinct addresses: 4883

### Filtering out the distinct data using alphabets to verify the values in the column and to do necessary transformation needed if the data was not input in accurately.

In [12]:
# Assuming 'establishment_df' is your DataFrame containing the data

# Step 1: Filter the DataFrame
filtered_df = establishment_df[establishment_df['address'].str.lower().str.startswith(('a'))]

# Step 2: Extract distinct values from the filtered DataFrame
distinct_addresses_filtered = filtered_df['address'].unique()

# Step 3: Sort the distinct values alphabetically
distinct_addresses_filtered_sorted = sorted(distinct_addresses_filtered)

# Display the sorted distinct values
print("Distinct addresses starting with 'a':")
for address in distinct_addresses_filtered_sorted:
    print(address)

Distinct addresses starting with 'a':
A' Posh Bizhub
A'Posh Bizhub
Abc Brickworks Food Centre
Abc Brickworks Market & Food Centre
Abc Brickworks Market & Food Centre [Stall 113]
Abc Brickworks Market & Food Centre [Stall 120]
Abc Brickworks Market & Food Centre [Stall 12]
Abc Brickworks Market & Food Centre [Stall 143]
Abc Brickworks Market & Food Centre [Stall 15]
Abc Brickworks Market & Food Centre [Stall 18]
Abc Brickworks Market And Food Centre [Stall 10]
Abc Brickworks Market And Food Centre [Stall 2]
Abc Brickworks Market And Food Centre [Stall 8]
Acacia Breeze @ Yishun
Acacia Court
Academia
Academy Of Singapore Teachers
Ace Community Club
Adam Road Food Centre
Adda
Adelphi Park Estate
Admiralty
Admiralty Link
Admiralty Street
Admiralty [Islandwide Delivery]
Admiralty[Islandwide Delivery]
Admirax
Admirax [Islandwide Delivery]
Agape Village
Ah Hood
Ah Hood Road
Ah Wang Kway Chap
Air View Building
Airport Boulevard
Airport Boulevard [Islandwide Delivery]
Airview Building
Albert Centre
Alexandra
Alexandra Central
Alexandra Central Mall
Alexandra Hawker Centre [Islandwide Delivery]
Alexandra Hospital
Alexandra Retail Centre
Alexandra Retail Centre Psa Building
Alexandra Retail Centre [Islandwide Delivery]
Alexandra Road
Alexandra Technopark
Alexandra Village Food Centre
Aljunied
Aljunied 119 Food House
Aljunied Ave 2
Aljunied Ave 2 [Stall 17]
Aljunied Ave 2 [Stall 29]
Aljunied Ave 2 [Stall 59]
Aljunied Ave 2 [Stall 63]
Aljunied Ave 3
Aljunied Ave 4
Aljunied Ave 5
Aljunied Avenue 2
Aljunied B
Aljunied Crescent
Aljunied Industrial Complex
Aljunied Industrial Complex [Islandwide Delivery]
Aljunied Industrial Estate
Aljunied Mrt
Aljunied Mrt Station
Aljunied Road
Aljunied [Islandwide Delivery]
Alkaff Crescent
Alkaff Mansion
Alkaff Vista
Alocassia
Alocassia Apartments
Alpha Industrial Building
Altez
American Grill
Amk
Amk 408
Amk 724 Food Centre
Amk 724 [Stall 08]
Amk 724 [Stall 09]
Amk 724 [Stall 12]
Amk 724 [Stall 15]
Amk 724 [Stall 16]
Amk 724 [Stall 19]
Amk 724 [Stall 20]
Amk 724 [Stall 23]
Amk 724 [Stall 29]
Amk 724 [Stall 2]
Amk 724 [Stall 34]
Amk 724 [Stall 35]
Amk 724 [Stall 37]
Amk 724 [Stall 42]
Amk 724 [Stall 43]
Amk Autopoint
Amk Ave 10
Amk Ave 3
Amk Central Heights
Amk Hub
Amk Hub (Mix & Match)
Amk Mrt Station
Amk Tech I
Amk Tech Ii
Amk722
Amoy Don [Stall 10]
Amoy Food Centre
Amoy Mix & Match [Islandwide Delivery]
Amoy Street
Amoy Street Food Centre
Amoy Street Food Centre [Islandwide Delivery]
Amoy Street Food Centre [Stall 04]
Amoy Street Food Centre [Stall 124]
Amoy Street Food Centre [Stall 126]
Amoy Street Food Centre [Stall 127]
Amoy Street Food Centre [Stall 15]
Amoy Street Food Centre [Stall 48]
Amoy Street [Islandwide Delivery]
Anamalai Ave
Anamalai Avenue
Anchor Point
Anchorpoint
Anchorpoint Mall [Islandwide Delivery]
Anchorpoint Shopping Centre
Anchorvale
Anchorvale Court
Anchorvale Crescent
Anchorvale Horizon
Anchorvale Link
Anchorvale Road
Anchorvale Street
Andaz Singapore [Islandwide Delivery]
Andy'S Grill Express
Ang Mo Kio
Ang Mo Kio  Industrial Park 2
Ang Mo Kio 628 Market & Food Centre
Ang Mo Kio Ave 1
Ang Mo Kio Ave 10
Ang Mo Kio Ave 10 [Islandwide Delivery]
Ang Mo Kio Ave 2
Ang Mo Kio Ave 3
Ang Mo Kio Ave 4
Ang Mo Kio Ave 5
Ang Mo Kio Ave 6
Ang Mo Kio Ave 6 [Islandwide Delivery]
Ang Mo Kio Ave 6[Islandwide Delivery]
Ang Mo Kio Ave 8
Ang Mo Kio Ave 8 Foodloft Mix & Match
Ang Mo Kio Ave 8 [Islandwide Delivery]
Ang Mo Kio Avenue 1
Ang Mo Kio Avenue 10
Ang Mo Kio Avenue 3
Ang Mo Kio Avenue 4
Ang Mo Kio Avenue 5
Ang Mo Kio Avenue 6
Ang Mo Kio Avenue 8
Ang Mo Kio Avenue 8 [Islandwide Delivery]
Ang Mo Kio Central
Ang Mo Kio Central 3
Ang Mo Kio Chong Boon Hawker Centre
Ang Mo Kio Electronics Park Road
Ang Mo Kio Hub
Ang Mo Kio Hub [Islandwide Delivery]
Ang Mo Kio Industrial Park 1 [Islandwide Delivery]
Ang Mo Kio Industrial Park 2
Ang Mo Kio Industrial Park 2 [Islandwide Delivery]
Ang Mo Kio Ite
Ang Mo Kio Mrt
Ang Mo Kio Mrt Station
Ang Mo Kio Park
Ang Mo Kio Street 21
Ang Mo Kio Street 22
Ang Mo Kio Street 66
Ang Mo Kio Tech 1
Ang Mo Kio [Islandwide Delivery]
Ang Mo Kio[Islandwide Delivery]
Ann Siang
Ann Siang Hill
Ann Siang Mix & Match [Islandwide Delivery]
Ann Siang Road
Ansar Garden
Anson
Anson House
Aperia
Aperia Mall
Apex @ Henderson
Aps Industrial Building
Arab Street
Aranda Country Club
Arc
Arc 380
Arc [Islandwide Delivery]
Arena Country Club
Ark @Gambas
Ark@Gambas
Ark@Kb
Artra
Ascent
Ascent @ 456
Ascent@456
Ascott Orchard
Asia Square
Asia Square Tower 1
Asia Square Tower 1 [Islandwide Delivery]
Asia Square Tower 2
Asia Square Tower 2 [Islandwide Delivery]
Asian Civilisations Museum
Asiawide Industrial Building
Aspella
Aspella [Islandwide Delivery]
Aspial One
Atlantis Pods @ Bugis [Islandwide Delivery]
Atrium Residences
Audio House Building
Automobile Megamart
Avocado & Natural Foods  (Anchorpoint Shopping Centre)
Avocado Foods At Great World
Axa Tower
Axxel Innovation Centre [Islandwide Delivery]
Ayasofya Turkish Restaurant [Islandwide Delivery]
Ayer Rajah Amenity Centre
Ayer Rajah Cc
Ayer Rajah Community Centre
Ayer Rajah Crescent
Ayer Rajah Food Centre
Ayer Rajah Food Centre 1
Ayer Rajah Food Centre I
Ayer Rajah Food Centre [Islandwide Delivery]
Ayer Rajah Food Centre [Stall 10] [Islandwide Delivery]
Ayer Rajah Food Centre [Stall 27]
Ayer Rajah Food Centre [Stall 30]
Ayer Rajah Food Centre [Stall 45]
Ayer Rajah Food Centre [Stall 49]
Ayer Rajah Food Centre [Stall 55]
Ayer Rajah Food Centre [Stall 57]
Ayer Rajah Food Centre [Stall 60]
Ayer Rajah Food Centre [Stall 69]
Ayer Rajah Food Centre [Stall 74]

### Tried using difflib library to standardize the entries up to 80% matching.( Didn't work)

In [13]:
import difflib

# Filter the DataFrame to include only addresses starting with 'a'
addresses_starting_with_a = establishment_df[establishment_df['address'].str.lower().str.startswith('a')]['address'].unique()

# Define a function to find the best match for each address starting with 'a'
def standardize_address(address):
    matches = difflib.get_close_matches(address, addresses_starting_with_a, n=1, cutoff=0.7)
    if matches:
        return matches[0]
    else:
        return address

# Apply the standardization function to addresses starting with 'a'
standardized_addresses_starting_with_a = [standardize_address(address) for address in addresses_starting_with_a]

# Display the original and standardized addresses
print("Original Addresses:")
print(addresses_starting_with_a)

print("\nStandardized Addresses:")
print(standardized_addresses_starting_with_a)

Original Addresses:
['Anson House' 'Alkaff Mansion' 'Academia' 'Alexandra Road' 'Altez'
 'Anson' 'Apex @ Henderson'
 'Ayer Rajah Food Centre [Stall 10] [Islandwide Delivery]'
 'Alexandra Retail Centre' 'Alexandra Retail Centre [Islandwide Delivery]'
 'Asia Square Tower 2 [Islandwide Delivery]' 'Arc [Islandwide Delivery]'
 'Amoy Street Food Centre [Islandwide Delivery]'
 'Ayer Rajah Food Centre [Islandwide Delivery]' 'Ayer Rajah Crescent'
 'Alexandra Village Food Centre' 'Alexandra Central Mall'
 'Alexandra Hawker Centre [Islandwide Delivery]'
 'Anchorpoint Shopping Centre' 'Anchor Point' 'Alexandra Central'
 'Avocado & Natural Foods  (Anchorpoint Shopping Centre)' 'Arc'
 'Ayer Rajah Food Centre 1' 'Alexandra Retail Centre Psa Building'
 'Abc Brickworks Market & Food Centre' 'Ascent' 'Alexandra' 'Anchorpoint'
 'Abc Brickworks Market & Food Centre [Stall 12]'
 'Abc Brickworks Market & Food Centre [Stall 15]'
 'Abc Brickworks Market And Food Centre [Stall 8]'
 'Ayer Rajah Food Centre I' 'Alexandra Technopark'
 'Abc Brickworks Market And Food Centre [Stall 2]'
 'Abc Brickworks Market & Food Centre [Stall 120]' 'American Grill'
 'Ayer Rajah Food Centre' 'Alexandra Hospital' 'Ayer Rajah Amenity Centre'
 'Abc Brickworks Market & Food Centre [Stall 113]'
 'Anchorpoint Mall [Islandwide Delivery]' 'Abc Brickworks Food Centre'
 'Abc Brickworks Market And Food Centre [Stall 10]'
 'Abc Brickworks Market & Food Centre [Stall 143]' 'Artra'
 'Abc Brickworks Market & Food Centre [Stall 18]'
 'Academy Of Singapore Teachers' 'Amoy Street [Islandwide Delivery]'
 'Ann Siang Mix & Match [Islandwide Delivery]' 'Axa Tower' 'Amoy Street'
 'Amoy Street Food Centre [Stall 127]' 'Amoy Street Food Centre'
 'Amoy Street Food Centre [Stall 15]'
 'Asia Square Tower 1 [Islandwide Delivery]' 'Asia Square Tower 1'
 'Asia Square' 'Ayer Rajah Food Centre [Stall 69]'
 'Amoy Street Food Centre [Stall 124]'
 'Amoy Mix & Match [Islandwide Delivery]' 'Asia Square Tower 2'
 'Ayer Rajah Food Centre [Stall 30]' 'Ayer Rajah Food Centre [Stall 45]'
 'Amoy Street Food Centre [Stall 126]' 'Air View Building'
 'Ayer Rajah Food Centre [Stall 55]' 'Ayer Rajah Food Centre [Stall 57]'
 'Ayer Rajah Food Centre [Stall 49]' 'Avocado Foods At Great World'
 'Ayer Rajah Food Centre [Stall 60]' 'Ayer Rajah Food Centre [Stall 27]'
 'Arab Street' 'Andaz Singapore [Islandwide Delivery]'
 'Asian Civilisations Museum'
 'Ayasofya Turkish Restaurant [Islandwide Delivery]' 'Aperia'
 'Albert Centre' 'Aperia Mall'
 'Atlantis Pods @ Bugis [Islandwide Delivery]'
 'Axxel Innovation Centre [Islandwide Delivery]'
 'Aljunied Industrial Complex' 'Aljunied Ave 2'
 'Aljunied Industrial Complex [Islandwide Delivery]'
 'Aljunied [Islandwide Delivery]' 'Aljunied Ave 4' 'Ang Mo Kio Ave 4'
 'Aljunied Ave 2 [Stall 59]' 'Aljunied Crescent'
 'Aljunied Industrial Estate' 'Ang Mo Kio Ave 8 [Islandwide Delivery]'
 'Amk' 'Ascent@456' 'Aljunied' 'Ayer Rajah Community Centre'
 'Ang Mo Kio [Islandwide Delivery]'
 'Ang Mo Kio Industrial Park 2 [Islandwide Delivery]' 'Aljunied Ave 5'
 'Ah Hood Road' 'Ark@Gambas' 'Ang Mo Kio Ave 1' "A' Posh Bizhub"
 'Acacia Court' 'Alpha Industrial Building' 'Ang Mo Kio'
 'Ang Mo Kio Ave 6 [Islandwide Delivery]' 'Anamalai Avenue'
 'Adam Road Food Centre' 'Alocassia Apartments' 'Ayer Rajah Cc'
 'Anamalai Ave' 'Alocassia' 'Ascott Orchard' 'Arc 380'
 'Aljunied Mrt Station' 'Aljunied Ave 2 [Stall 63]' 'Aljunied Road'
 'Aljunied Avenue 2' 'Ansar Garden'
 'Ang Mo Kio Industrial Park 1 [Islandwide Delivery]'
 'Admiralty [Islandwide Delivery]'
 'Airport Boulevard [Islandwide Delivery]'
 'Ang Mo Kio Ave 6[Islandwide Delivery]' 'Arena Country Club'
 "Andy'S Grill Express" 'Ah Hood' 'Aspial One' 'Alkaff Crescent'
 'Ah Wang Kway Chap' 'Aljunied 119 Food House' 'Adelphi Park Estate'
 'Ascent @ 456' 'Ark@Kb' 'Agape Village' 'Audio House Building'
 'Aljunied Ave 2 [Stall 17]' 'Aljunied Ave 3' 'Alkaff Vista'
 'Automobile Megamart' 'Aljunied Ave 2 [Stall 29]' 'Ang Mo Kio Ave 3'
 'Amk Hub' 'Ang Mo Kio Central' 'Asiawide Industrial Building'
 'Aps Industrial Building' 'Airview Building' 'Ang Mo Kio Avenue 4'
 'Ann Siang Road' 'Ann Siang Hill' 'Ang Mo Kio Ave 2'
 'Amk Hub (Mix & Match)' 'Ang Mo Kio Hub [Islandwide Delivery]'
 'Ang Mo Kio Ave 6' 'Ang Mo Kio Avenue 3' 'Ang Mo Kio Street 22'
 'Ang Mo Kio Ave 5' 'Ang Mo Kio Avenue 1' 'Ang Mo Kio Street 21'
 'Amoy Street Food Centre [Stall 48]' 'Ang Mo Kio Avenue 5'
 'Ang Mo Kio Ave 8' 'Adda' 'Amoy Food Centre'
 'Ang Mo Kio[Islandwide Delivery]' 'Atrium Residences'
 'Amoy Don [Stall 10]' 'Amoy Street Food Centre [Stall 04]' 'Ann Siang'
 'Aljunied B' 'Amk 724 [Stall 16]' 'Amk 724 [Stall 20]'
 'Ang Mo Kio Avenue 8' 'Ang Mo Kio Park' 'Ang Mo Kio Ave 10'
 'Ang Mo Kio Mrt' 'Ang Mo Kio Hub' 'Amk 724 [Stall 2]'
 'Ang Mo Kio Avenue 10' 'Aljunied Mrt'
 'Ang Mo Kio Ave 10 [Islandwide Delivery]' 'Ang Mo Kio Mrt Station'
 'Ang Mo Kio Industrial Park 2' 'Ang Mo Kio Chong Boon Hawker Centre'
 'Amk Central Heights' 'Amk 724 [Stall 09]' 'Amk 408'
 'Ang Mo Kio Avenue 6' 'Amk 724 [Stall 43]' 'Amk 724 [Stall 19]'
 'Amk 724 [Stall 42]' 'Amk 724 [Stall 29]' 'Amk 724 Food Centre'
 'Amk 724 [Stall 35]' 'Amk 724 [Stall 08]'
 'Ang Mo Kio Avenue 8 [Islandwide Delivery]' 'Amk Mrt Station' 'Amk Ave 3'
 'Ang Mo Kio Street 66' 'Amk722' 'Amk Autopoint' 'Amk Ave 10'
 'Ang Mo Kio  Industrial Park 2' 'Ang Mo Kio Ite' 'Amk Tech I'
 'Amk Tech Ii' 'Ang Mo Kio Central 3' 'Amk 724 [Stall 12]'
 'Amk 724 [Stall 37]' 'Ang Mo Kio Electronics Park Road' 'Anchorvale Link'
 'Aspella' 'Anchorvale Road' 'Anchorvale Court' 'Anchorvale'
 'Ang Mo Kio 628 Market & Food Centre' 'Amk 724 [Stall 15]'
 'Amk 724 [Stall 34]' 'Amk 724 [Stall 23]'
 'Ang Mo Kio Ave 8 Foodloft Mix & Match' 'Airport Boulevard'
 'Aranda Country Club' 'Ang Mo Kio Tech 1' 'Acacia Breeze @ Yishun'
 'Anchorvale Street' 'Anchorvale Crescent' 'Aspella [Islandwide Delivery]'
 'Anchorvale Horizon' "A'Posh Bizhub" 'Ace Community Club' 'Admirax'
 'Admirax [Islandwide Delivery]' 'Admiralty' 'Ark @Gambas'
 'Admiralty Street' 'Admiralty Link' 'Admiralty[Islandwide Delivery]'
 'Ayer Rajah Food Centre [Stall 74]']

Standardized Addresses:
['Anson House', 'Alkaff Mansion', 'Academia', 'Alexandra Road', 'Altez', 'Anson', 'Apex @ Henderson', 'Ayer Rajah Food Centre [Stall 10] [Islandwide Delivery]', 'Alexandra Retail Centre', 'Alexandra Retail Centre [Islandwide Delivery]', 'Asia Square Tower 2 [Islandwide Delivery]', 'Arc [Islandwide Delivery]', 'Amoy Street Food Centre [Islandwide Delivery]', 'Ayer Rajah Food Centre [Islandwide Delivery]', 'Ayer Rajah Crescent', 'Alexandra Village Food Centre', 'Alexandra Central Mall', 'Alexandra Hawker Centre [Islandwide Delivery]', 'Anchorpoint Shopping Centre', 'Anchor Point', 'Alexandra Central', 'Avocado & Natural Foods  (Anchorpoint Shopping Centre)', 'Arc', 'Ayer Rajah Food Centre 1', 'Alexandra Retail Centre Psa Building', 'Abc Brickworks Market & Food Centre', 'Ascent', 'Alexandra', 'Anchorpoint', 'Abc Brickworks Market & Food Centre [Stall 12]', 'Abc Brickworks Market & Food Centre [Stall 15]', 'Abc Brickworks Market And Food Centre [Stall 8]', 'Ayer Rajah Food Centre I', 'Alexandra Technopark', 'Abc Brickworks Market And Food Centre [Stall 2]', 'Abc Brickworks Market & Food Centre [Stall 120]', 'American Grill', 'Ayer Rajah Food Centre', 'Alexandra Hospital', 'Ayer Rajah Amenity Centre', 'Abc Brickworks Market & Food Centre [Stall 113]', 'Anchorpoint Mall [Islandwide Delivery]', 'Abc Brickworks Food Centre', 'Abc Brickworks Market And Food Centre [Stall 10]', 'Abc Brickworks Market & Food Centre [Stall 143]', 'Artra', 'Abc Brickworks Market & Food Centre [Stall 18]', 'Academy Of Singapore Teachers', 'Amoy Street [Islandwide Delivery]', 'Ann Siang Mix & Match [Islandwide Delivery]', 'Axa Tower', 'Amoy Street', 'Amoy Street Food Centre [Stall 127]', 'Amoy Street Food Centre', 'Amoy Street Food Centre [Stall 15]', 'Asia Square Tower 1 [Islandwide Delivery]', 'Asia Square Tower 1', 'Asia Square', 'Ayer Rajah Food Centre [Stall 69]', 'Amoy Street Food Centre [Stall 124]', 'Amoy Mix & Match [Islandwide Delivery]', 'Asia Square Tower 2', 'Ayer Rajah Food Centre [Stall 30]', 'Ayer Rajah Food Centre [Stall 45]', 'Amoy Street Food Centre [Stall 126]', 'Air View Building', 'Ayer Rajah Food Centre [Stall 55]', 'Ayer Rajah Food Centre [Stall 57]', 'Ayer Rajah Food Centre [Stall 49]', 'Avocado Foods At Great World', 'Ayer Rajah Food Centre [Stall 60]', 'Ayer Rajah Food Centre [Stall 27]', 'Arab Street', 'Andaz Singapore [Islandwide Delivery]', 'Asian Civilisations Museum', 'Ayasofya Turkish Restaurant [Islandwide Delivery]', 'Aperia', 'Albert Centre', 'Aperia Mall', 'Atlantis Pods @ Bugis [Islandwide Delivery]', 'Axxel Innovation Centre [Islandwide Delivery]', 'Aljunied Industrial Complex', 'Aljunied Ave 2', 'Aljunied Industrial Complex [Islandwide Delivery]', 'Aljunied [Islandwide Delivery]', 'Aljunied Ave 4', 'Ang Mo Kio Ave 4', 'Aljunied Ave 2 [Stall 59]', 'Aljunied Crescent', 'Aljunied Industrial Estate', 'Ang Mo Kio Ave 8 [Islandwide Delivery]', 'Amk', 'Ascent@456', 'Aljunied', 'Ayer Rajah Community Centre', 'Ang Mo Kio [Islandwide Delivery]', 'Ang Mo Kio Industrial Park 2 [Islandwide Delivery]', 'Aljunied Ave 5', 'Ah Hood Road', 'Ark@Gambas', 'Ang Mo Kio Ave 1', "A' Posh Bizhub", 'Acacia Court', 'Alpha Industrial Building', 'Ang Mo Kio', 'Ang Mo Kio Ave 6 [Islandwide Delivery]', 'Anamalai Avenue', 'Adam Road Food Centre', 'Alocassia Apartments', 'Ayer Rajah Cc', 'Anamalai Ave', 'Alocassia', 'Ascott Orchard', 'Arc 380', 'Aljunied Mrt Station', 'Aljunied Ave 2 [Stall 63]', 'Aljunied Road', 'Aljunied Avenue 2', 'Ansar Garden', 'Ang Mo Kio Industrial Park 1 [Islandwide Delivery]', 'Admiralty [Islandwide Delivery]', 'Airport Boulevard [Islandwide Delivery]', 'Ang Mo Kio Ave 6[Islandwide Delivery]', 'Arena Country Club', "Andy'S Grill Express", 'Ah Hood', 'Aspial One', 'Alkaff Crescent', 'Ah Wang Kway Chap', 'Aljunied 119 Food House', 'Adelphi Park Estate', 'Ascent @ 456', 'Ark@Kb', 'Agape Village', 'Audio House Building', 'Aljunied Ave 2 [Stall 17]', 'Aljunied Ave 3', 'Alkaff Vista', 'Automobile Megamart', 'Aljunied Ave 2 [Stall 29]', 'Ang Mo Kio Ave 3', 'Amk Hub', 'Ang Mo Kio Central', 'Asiawide Industrial Building', 'Aps Industrial Building', 'Airview Building', 'Ang Mo Kio Avenue 4', 'Ann Siang Road', 'Ann Siang Hill', 'Ang Mo Kio Ave 2', 'Amk Hub (Mix & Match)', 'Ang Mo Kio Hub [Islandwide Delivery]', 'Ang Mo Kio Ave 6', 'Ang Mo Kio Avenue 3', 'Ang Mo Kio Street 22', 'Ang Mo Kio Ave 5', 'Ang Mo Kio Avenue 1', 'Ang Mo Kio Street 21', 'Amoy Street Food Centre [Stall 48]', 'Ang Mo Kio Avenue 5', 'Ang Mo Kio Ave 8', 'Adda', 'Amoy Food Centre', 'Ang Mo Kio[Islandwide Delivery]', 'Atrium Residences', 'Amoy Don [Stall 10]', 'Amoy Street Food Centre [Stall 04]', 'Ann Siang', 'Aljunied B', 'Amk 724 [Stall 16]', 'Amk 724 [Stall 20]', 'Ang Mo Kio Avenue 8', 'Ang Mo Kio Park', 'Ang Mo Kio Ave 10', 'Ang Mo Kio Mrt', 'Ang Mo Kio Hub', 'Amk 724 [Stall 2]', 'Ang Mo Kio Avenue 10', 'Aljunied Mrt', 'Ang Mo Kio Ave 10 [Islandwide Delivery]', 'Ang Mo Kio Mrt Station', 'Ang Mo Kio Industrial Park 2', 'Ang Mo Kio Chong Boon Hawker Centre', 'Amk Central Heights', 'Amk 724 [Stall 09]', 'Amk 408', 'Ang Mo Kio Avenue 6', 'Amk 724 [Stall 43]', 'Amk 724 [Stall 19]', 'Amk 724 [Stall 42]', 'Amk 724 [Stall 29]', 'Amk 724 Food Centre', 'Amk 724 [Stall 35]', 'Amk 724 [Stall 08]', 'Ang Mo Kio Avenue 8 [Islandwide Delivery]', 'Amk Mrt Station', 'Amk Ave 3', 'Ang Mo Kio Street 66', 'Amk722', 'Amk Autopoint', 'Amk Ave 10', 'Ang Mo Kio  Industrial Park 2', 'Ang Mo Kio Ite', 'Amk Tech I', 'Amk Tech Ii', 'Ang Mo Kio Central 3', 'Amk 724 [Stall 12]', 'Amk 724 [Stall 37]', 'Ang Mo Kio Electronics Park Road', 'Anchorvale Link', 'Aspella', 'Anchorvale Road', 'Anchorvale Court', 'Anchorvale', 'Ang Mo Kio 628 Market & Food Centre', 'Amk 724 [Stall 15]', 'Amk 724 [Stall 34]', 'Amk 724 [Stall 23]', 'Ang Mo Kio Ave 8 Foodloft Mix & Match', 'Airport Boulevard', 'Aranda Country Club', 'Ang Mo Kio Tech 1', 'Acacia Breeze @ Yishun', 'Anchorvale Street', 'Anchorvale Crescent', 'Aspella [Islandwide Delivery]', 'Anchorvale Horizon', "A'Posh Bizhub", 'Ace Community Club', 'Admirax', 'Admirax [Islandwide Delivery]', 'Admiralty', 'Ark @Gambas', 'Admiralty Street', 'Admiralty Link', 'Admiralty[Islandwide Delivery]', 'Ayer Rajah Food Centre [Stall 74]']

### The result shows the total number of entries are the same before and after 'standardization' using the 'difflib' library

In [14]:
# Count the total number of entries before standardization
total_entries_before = len(addresses_starting_with_a)

# Count the total number of entries after standardization
total_entries_after = len(set(standardized_addresses_starting_with_a))

# Print the total number of entries before and after standardization
print("Total entries with addresses starting with 'a' before standardization:", total_entries_before)
print("Total entries with addresses starting with 'a' after standardization:", total_entries_after)

Total entries with addresses starting with 'a' before standardization: 237
Total entries with addresses starting with 'a' after standardization: 237

### Standardize all the entries that have '[xxx]' and replace all the 'And' with '&' for standardization

In [15]:
import re

# Define a function to standardize addresses and count changes
def standardize_address_and_count(address):
    # Initialize counter for changes
    num_changes = 0
    
    # Remove '[Stall xx]' part using regular expression
    standardized_address = re.sub(r'\[.*?\]', '', address)
    
    # Replace 'And' with '&' and remove leading/trailing spaces
    standardized_address = standardized_address.replace('And', '&').strip()
    
    # Replace any occurrence of 'Abc Brickworks' with 'Abc Brickworks Market & Food Centre'
    if 'Abc Brickworks' in standardized_address:
        standardized_address = standardized_address.replace('Abc Brickworks', 'Abc Brickworks Market & Food Centre')
        num_changes += 1
    
    return standardized_address, num_changes

# Apply the standardization function to the 'address' column of the DataFrame
establishment_df['standardized_address'], num_changes = zip(*establishment_df['address'].apply(standardize_address_and_count))

# Print the total count of entries that were changed
print("Total count of entries changed:", sum(num_changes))

# Print the list of entries that were changed
changed_entries = establishment_df[establishment_df['standardized_address'] != establishment_df['address']]
print("\nList of entries that were changed:")
for index, row in changed_entries.iterrows():
    print(row['address'], '->', row['standardized_address'])

Total count of entries changed: 11

List of entries that were changed:
Heytea Vivo City [Islandwide Delivery] -> Heytea Vivo City
Vivocity [Islandwide Delivery] -> Vivocity
Vivocity [Islandwide Delivery] -> Vivocity
Harbourfront Centre [Islandwide Delivery] -> Harbourfront Centre
Resorts World Sentosa [Islandwide Delivery] -> Resorts World Sentosa
W Singapore Sentosa Cove [Islandwide Delivery] -> W Singapore Sentosa Cove
Telok Blangah Rise [Islandwide Delivery] -> Telok Blangah Rise
33 Kampong Bahru Road [Islandwide Delivery] -> 33 Kampong Bahru Road
Lim Teck Kim Road [Islandwide Delivery] -> Lim Teck Kim Road
Tanjong Pagar Complex [Islandwide Delivery] -> Tanjong Pagar Complex
Neil Road [Islandwide Delivery] -> Neil Road
Everton Park[Islandwide Delivery] -> Everton Park
Neil Road [Islandwide Delivery] -> Neil Road
Tras Link [Islandwide Delivery] -> Tras Link
Telok Blangah Drive [Islandwide Delivery] -> Telok Blangah Drive
Yong Siak View [Islandwide Delivery] -> Yong Siak View
Yeshanghai Lok Lok And Teochew Porridge  Tiong Bahru Orchid [Islandwide Delivery] -> Yeshanghai Lok Lok & Teochew Porridge  Tiong Bahru Orchid
100Am Mall [Islandwide Delivery] -> 100Am Mall
77 Tanjong Pagar Road [Islandwide Delivery] -> 77 Tanjong Pagar Road
Guoco Tower [Islandwide Delivery] -> Guoco Tower
Tanjong Pagar Road [Islandwide Delivery] -> Tanjong Pagar Road
Populus Food & Coffee Co. [Islandwide Delivery] -> Populus Food & Coffee Co.
Tiong Poh Road [Islandwide Delivery] -> Tiong Poh Road
Peck Seah Street [Islandwide Delivery] -> Peck Seah Street
Tanjong Pagar [Islandwide Delivery] -> Tanjong Pagar
68 Tanjong Pagar Road [Islandwide Delivery] -> 68 Tanjong Pagar Road
Yong Siak Street [Islandwide Delivery] -> Yong Siak Street
Duxton Hill [Islandwide Delivery] -> Duxton Hill
Tras Street [Islandwide Delivery] -> Tras Street
Yong Siak Street [Islandwide Delivery] -> Yong Siak Street
Tanjong Pagar Road [Islandwide Delivery] -> Tanjong Pagar Road
International Plaza [Islandwide Delivery] -> International Plaza
Guoco Tower [Islandwide Delivery] -> Guoco Tower
Tanjong Pagar Road [Islandwide Delivery] -> Tanjong Pagar Road
Tras Street [Islandwide Delivery] -> Tras Street
Duxton Hill [Islandwide Delivery] -> Duxton Hill
Tanjong Pagar Road [Islandwide Delivery] -> Tanjong Pagar Road
Tanjong Pagar Road [Islandwide Delivery] -> Tanjong Pagar Road
Springleaf Tower [Islandwide Delivery] -> Springleaf Tower
Duxton Hill [Islandwide Delivery] -> Duxton Hill
Tras Street [Islandwide Delivery] -> Tras Street
10 Jiak Chuan Road [Islandwide Delivery] -> 10 Jiak Chuan Road
Tanjong Pagar Mix & Match [Islandwide Delivery] -> Tanjong Pagar Mix & Match
Duxton [Islandwide Delivery] -> Duxton
88 Tanjong Pagar Road [Islandwide Delivery] -> 88 Tanjong Pagar Road
Tiong Bahru Market [Stall 60] -> Tiong Bahru Market
126 Tanjong Pagar Road [Islandwide Delivery] -> 126 Tanjong Pagar Road
Tanjong Pagar Road [Islandwide Delivery] -> Tanjong Pagar Road
Eng Hoon Street [Islandwide Delivery] -> Eng Hoon Street
Tiong Bahru Market And Food Centre -> Tiong Bahru Market & Food Centre
Tiong Bahru Estate [Islandwide Delivery] -> Tiong Bahru Estate
Bukit Merah View Market [Stall 55] -> Bukit Merah View Market
Keong Saik Mix & Match [Islandwide Delivery] -> Keong Saik Mix & Match
Link Hotel [Islandwide Delivery] -> Link Hotel
Seng Poh Road [Islandwide Delivery] -> Seng Poh Road
International Plaza [Islandwide Delivery] -> International Plaza
Tiong Bahru Market [Stall 66] -> Tiong Bahru Market
Duxton [Islandwide Delivery] -> Duxton
Tiong Bahru Estate [Islandwide Delivery] -> Tiong Bahru Estate
Moh Guan Terrace [Islandwide Delivery] -> Moh Guan Terrace
24 Keong Saik Road [Islandwide Delivery] -> 24 Keong Saik Road
Duxton Hill [Islandwide Delivery] -> Duxton Hill
Tanjong Pagar Road [Islandwide Delivery] -> Tanjong Pagar Road
Tiong Bahru Estate [Islandwide Delivery] -> Tiong Bahru Estate
Tiong Bahru Estate[Islandwide Delivery] -> Tiong Bahru Estate
Jalan Bukit Merah [Islandwide Delivery] -> Jalan Bukit Merah
Trattoria Nonna Lina [Islandwide Delivery] -> Trattoria Nonna Lina
Kampong Bahru Road [Islandwide Delivery] -> Kampong Bahru Road
Tanjong Pagar Plaza [Islandwide Delivery] -> Tanjong Pagar Plaza
Tanjong Pagar Plaza [Stall 24] -> Tanjong Pagar Plaza
Keong Saik Road [Islandwide Delivery] -> Keong Saik Road
Yong Siak Street [Islandwide Delivery] -> Yong Siak Street
Jiak Chuan Road [Islandwide Delivery] -> Jiak Chuan Road
Keong Saik Road [Islandwide Delivery] -> Keong Saik Road
Kreta Ayer Road [Islandwide Delivery] -> Kreta Ayer Road
Neil Road [Islandwide Delivery] -> Neil Road
Tanjong Pagar Plaza [Stall 42] -> Tanjong Pagar Plaza
Bukit Merah View [Stall 25] -> Bukit Merah View
Bukit Merah View [Stall 26] -> Bukit Merah View
Jurong Point  [Islandwide Delivery] -> Jurong Point
Jurong Point [Islandwide Delivery] -> Jurong Point
Bukit Batok Crescent [Islandwide Delivery] -> Bukit Batok Crescent
Craig Road [Islandwide Delivery] -> Craig Road
Jurong Point [Islandwide Delivery] -> Jurong Point
Jurong Point Shopping Centre [Islandwide Delivery] -> Jurong Point Shopping Centre
Straits Clan [Islandwide Delivery] -> Straits Clan
Nus [Islandwide Delivery] -> Nus
Jurong Point  [Islandwide Delivery] -> Jurong Point
Clementi Avenue 3[Islandwide Delivery] -> Clementi Avenue 3
Clementi [Islandwide Delivery] -> Clementi
Jurong Point [Islandwide Delivery] -> Jurong Point
Tiong Bahru Estate [Islandwide Delivery] -> Tiong Bahru Estate
Tanjong Pagar Road [Islandwide Delivery] -> Tanjong Pagar Road
Jurong Point [Islandwide Delivery] -> Jurong Point
International Plaza [Islandwide Delivery] -> International Plaza
Duxton Road [Islandwide Delivery] -> Duxton Road
Henderson [Islandwide Delivery] -> Henderson
Duxton Road [Islandwide Delivery] -> Duxton Road
Jcube [Islandwide Delivery] -> Jcube
Maxwell Chambers Suites [Islandwide Delivery] -> Maxwell Chambers Suites
Teck Lim Road [Islandwide Delivery] -> Teck Lim Road
Seng Poh Road [Stall 37] -> Seng Poh Road
Tiong Bahru Market [Islandwide Delivery] -> Tiong Bahru Market
The Clementi Mall [Islandwide Delivery] -> The Clementi Mall
Tradehub 21 [Islandwide Delivery] -> Tradehub 21
Imm [Islandwide Delivery] -> Imm
Le Quest [Islandwide Delivery] -> Le Quest
Tiong Bahru Market [Stall 54] -> Tiong Bahru Market
National University Of Singapore [Islandwide Delivery] -> National University Of Singapore
Jurong Point [Islandwide Delivery] -> Jurong Point
Jalan Membina [Islandwide Delivery] -> Jalan Membina
Bukit Batok [Islandwide Delivery] -> Bukit Batok
[Test] Fish & Co. -> Fish & Co.
73A Ayer Rajah Crescent [Islandwide Delivery] -> 73A Ayer Rajah Crescent
Sunset Way [Islandwide Delivery] -> Sunset Way
Clementi Ave 4 [Islandwide Delivery] -> Clementi Ave 4
South Buona Vista Road [Islandwide Delivery] -> South Buona Vista Road
Ghim Moh Road [Islandwide Delivery] -> Ghim Moh Road
Jurong West Street 52 [Islandwide Delivery] -> Jurong West Street 52
Ayer Rajah Food Centre [Stall 10] [Islandwide Delivery] -> Ayer Rajah Food Centre
Jurong Point [Islandwide Delivery] -> Jurong Point
The Metropolis [Islandwide Delivery] -> The Metropolis
Newest [Islandwide Delivery] -> Newest
Bukit Timah Plaza [Islandwide Delivery] -> Bukit Timah Plaza
Upper Bukit Timah Road [Islandwide Delivery] -> Upper Bukit Timah Road
Jurong Point [Islandwide Delivery] -> Jurong Point
West Mall [Islandwide Delivery] -> West Mall
The Star Vista [Islandwide Delivery] -> The Star Vista
Hillview Rise [Islandwide Delivery] -> Hillview Rise
Bg Makan (Hillview) By Bowl & Grill [Islandwide Delivery] -> Bg Makan (Hillview) By Bowl & Grill
Safra Jurong Club [Islandwide Delivery] -> Safra Jurong Club
Shell Service Station [Islandwide Delivery] -> Shell Service Station
Galaxis [Islandwide Delivery] -> Galaxis
Holland Village [Islandwide Delivery] -> Holland Village
Cheong Chin Nam Road [Islandwide Delivery] -> Cheong Chin Nam Road
Jurong West Street 42[Islandwide Delivery] -> Jurong West Street 42
Bukit Timah [Islandwide Delivery] -> Bukit Timah
The Rail Mall [Islandwide Delivery] -> The Rail Mall
Holland Village [Islandwide Delivery] -> Holland Village
Bukit Timah Plaza [Islandwide Delivery] -> Bukit Timah Plaza
Boon Lay[Islandwide Delivery] -> Boon Lay
Holland Village [Islandwide Delivery] -> Holland Village
Jurong East Ave 1 [Islandwide Delivery] -> Jurong East Ave 1
Jurong Gateway Road [Islandwide Delivery] -> Jurong Gateway Road
74) [Islandwide Delivery] -> 74)
Holland Village[Islandwide Delivery] -> Holland Village
Holland Village[Islandwide Delivery] -> Holland Village
Holland Village [Islandwide Delivery] -> Holland Village
Holland Village [Islandwide Delivery] -> Holland Village
Forum Shopping Mall [Islandwide Delivery] -> Forum Shopping Mall
Jalan Merah Saga [Islandwide Delivery] -> Jalan Merah Saga
Binjai Park [Islandwide Delivery] -> Binjai Park
Newest [Islandwide Delivery] -> Newest
[Test] Shake Shack -> Shake Shack
Pagoda Street [Islandwide Delivery] -> Pagoda Street
Raffles Holland V [Islandwide Delivery] -> Raffles Holland V
Binjai Park [Islandwide Delivery] -> Binjai Park
Alexandra Retail Centre [Islandwide Delivery] -> Alexandra Retail Centre
Somerset 313 [Islandwide Delivery] -> Somerset 313
Junction 10 [Islandwide Delivery] -> Junction 10
Cluny Road Ginger Garden [Islandwide Delivery] -> Cluny Road Ginger Garden
Robertson Blue [Islandwide Delivery] -> Robertson Blue
Clementi Ave 2[Islandwide Delivery] -> Clementi Ave 2
Jalan Bukit Merah [Islandwide Delivery] -> Jalan Bukit Merah
Bukit Batok West Ave 6 [Islandwide Delivery] -> Bukit Batok West Ave 6
Wisma Atria [Islandwide Delivery] -> Wisma Atria
Somerset 313 [Islandwide Delivery] -> Somerset 313
Jalan Teck Whye [Islandwide Delivery] -> Jalan Teck Whye
Tanglin Mall [Islandwide Delivery] -> Tanglin Mall
56 Smith Street [Islandwide Delivery] -> 56 Smith Street
[Bd] [Test] Kimly Seafood -> Kimly Seafood
6 Duke'S Road [Islandwide Delivery] -> 6 Duke'S Road
Forum [Islandwide Delivery] -> Forum
Heng Mui Keng Terrace [Islandwide Delivery] -> Heng Mui Keng Terrace
Greenwood Ave [Islandwide Delivery] -> Greenwood Ave
Lucky Plaza [Islandwide Delivery] -> Lucky Plaza
Bukit Batok Street 34 [Islandwide Delivery] -> Bukit Batok Street 34
Cluny Court [Islandwide Delivery] -> Cluny Court
Coronation Shopping Centre [Islandwide Delivery] -> Coronation Shopping Centre
The Star Vista [Islandwide Delivery] -> The Star Vista
The Warehouse Hotel [Islandwide Delivery] -> The Warehouse Hotel
Bukit Panjang Plaza [Islandwide Delivery] -> Bukit Panjang Plaza
K103] [Islandwide Delivery] -> K103]
Keat Hong Close[Islandwide Delivery] -> Keat Hong Close
Shell Bukit Batok Nature Park [Islandwide Delivery] -> Shell Bukit Batok Nature Park
Great World City [Islandwide Delivery] -> Great World City
Mandarin Orchard Singapore [Islandwide Delivery] -> Mandarin Orchard Singapore
Mandarin Orchard Singapore [Islandwide Delivery] -> Mandarin Orchard Singapore
Star Vista [Islandwide Delivery] -> Star Vista
River Valley Road[Islandwide Delivery] -> River Valley Road
Shaw Centre [Islandwide Delivery] -> Shaw Centre
Orchard Road [Islandwide Delivery] -> Orchard Road
Hillview [Islandwide Delivery] -> Hillview
Takashimaya Shopping Centre [Islandwide Delivery] -> Takashimaya Shopping Centre
Mix & Match [Islandwide Delivery] -> Mix & Match
Dempsey Road [Islandwide Delivery] -> Dempsey Road
The St Regis Singapore [Islandwide Delivery] -> The St Regis Singapore
Great World City [Islandwide Delivery] -> Great World City
Goodwood Park Hotel [Islandwide Delivery] -> Goodwood Park Hotel
Jelebu Road [Islandwide Delivery] -> Jelebu Road
Lucky Plaza [Islandwide Delivery] -> Lucky Plaza
People'S Park Centre [Islandwide Delivery] -> People'S Park Centre
Orchard Place [Islandwide Delivery] -> Orchard Place
Forum The Shopping Mall [Islandwide Delivery] -> Forum The Shopping Mall
Bukit Timah Plaza [Islandwide Delivery] -> Bukit Timah Plaza
Loewen Road [Islandwide Delivery] -> Loewen Road
Holland Close[Islandwide Delivery] -> Holland Close
Palais Renaissance [Islandwide Delivery] -> Palais Renaissance
Commonwealth Drive [Islandwide Delivery] -> Commonwealth Drive
Holland Village [Islandwide Delivery] -> Holland Village
Vivocity [Islandwide Delivery] -> Vivocity
62) [Islandwide Delivery] -> 62)
Wisma Atria [Islandwide Delivery] -> Wisma Atria
Holland Village Mix & Match [Islandwide Delivery] -> Holland Village Mix & Match
Robertson Quay [Islandwide Delivery] -> Robertson Quay
Dempsey Road [Islandwide Delivery] -> Dempsey Road
Full Of Luck Restaurant [Islandwide Delivery] -> Full Of Luck Restaurant
Grand Copthorne Waterfront Hotel [Islandwide Delivery] -> Grand Copthorne Waterfront Hotel
Far East Plaza [Islandwide Delivery] -> Far East Plaza
Lorong Liput [Islandwide Delivery] -> Lorong Liput
Ion [Islandwide Delivery] -> Ion
Dempsey Road [Islandwide Delivery] -> Dempsey Road
Orchard Tower [Islandwide Delivery] -> Orchard Tower
Holland Village Mrt Station [Islandwide Delivery] -> Holland Village Mrt Station
Raffles Holland V [Islandwide Delivery] -> Raffles Holland V
Coronation Shopping Plaza [Islandwide Delivery] -> Coronation Shopping Plaza
Dempsey Road [Islandwide Delivery] -> Dempsey Road
The Centrepoint [Islandwide Delivery] -> The Centrepoint
Chinatown Mix & Match [Islandwide Delivery] -> Chinatown Mix & Match
8 Rodyk [Islandwide Delivery] -> 8 Rodyk
The Paragon [Islandwide Delivery] -> The Paragon
Dempsey Road [Islandwide Delivery] -> Dempsey Road
Mosque Street [Islandwide Delivery] -> Mosque Street
Tiong Bahru Plaza  [Islandwide Delivery] -> Tiong Bahru Plaza
Dempsey Road [Islandwide Delivery] -> Dempsey Road
Wisma Atria [Islandwide Delivery] -> Wisma Atria
Orchard Hotel [Islandwide Delivery] -> Orchard Hotel
Central Mall [Islandwide Delivery] -> Central Mall
45 Minden Road[Islandwide Delivery] -> 45 Minden Road
Great World [Islandwide Delivery] -> Great World
Scotts Square [Islandwide Delivery] -> Scotts Square
New Bridge [Islandwide Delivery] -> New Bridge
Bukit Merah Central [Islandwide Delivery] -> Bukit Merah Central
Somerset 313 [Islandwide Delivery] -> Somerset 313
Orchard [Islandwide Delivery] -> Orchard
Loewen [Islandwide Delivery] -> Loewen
Regent Singapore [Islandwide Delivery] -> Regent Singapore
Tiong Bahru Estate [Islandwide Delivery] -> Tiong Bahru Estate
Kanai [Islandwide Delivery] -> Kanai
Ion Orchard [Islandwide Delivery] -> Ion Orchard
Newton Food Centre [Islandwide Delivery] [Stall 2] -> Newton Food Centre
Cluny Court[Islandwide Delivery] -> Cluny Court
Ngee Ann City [Islandwide Delivery] -> Ngee Ann City
La Hotel [Islandwide Delivery] -> La Hotel
Tiong Bahru Plaza [Islandwide Delivery] -> Tiong Bahru Plaza
Merbau Road [Islandwide Delivery] -> Merbau Road
04A [Islandwide Delivery] -> 04A
Ion Orchard [Islandwide Delivery] -> Ion Orchard
Bukit Panjang Road[Islandwide Delivery] -> Bukit Panjang Road
Harding Road [Islandwide Delivery] -> Harding Road
Killiney Road [Islandwide Delivery] -> Killiney Road
Somerset [Islandwide Delivery] -> Somerset
Riverside View [Islandwide Delivery] -> Riverside View
Curry Wok [Islandwide Delivery] -> Curry Wok
22 Martin Road [Islandwide Delivery] -> 22 Martin Road
Shaw Centre [Islandwide Delivery] -> Shaw Centre
Ion Orchard [Islandwide Delivery] -> Ion Orchard
Scotts Road [Islandwide Delivery] -> Scotts Road
Orchard Road [Islandwide Delivery] -> Orchard Road
Dempsey [Islandwide Delivery] -> Dempsey
Minden Road [Islandwide Delivery] -> Minden Road
Wheelock Place [Islandwide Delivery] -> Wheelock Place
Orchard Central [Islandwide Delivery] -> Orchard Central
Harding Road [Islandwide Delivery] -> Harding Road
Shaw House [Islandwide Delivery] -> Shaw House
The Centrepoint [Islandwide Delivery] -> The Centrepoint
Mandarin Gallery [Islandwide Delivery] -> Mandarin Gallery
Jalan Bukit Merah[Islandwide Delivery] -> Jalan Bukit Merah
Hillion Mall [Islandwide Delivery] -> Hillion Mall
Mandarin Gallery [Islandwide Delivery] -> Mandarin Gallery
Orchard Road [Islandwide Delivery] -> Orchard Road
Mandarin Gallery [Islandwide Delivery] -> Mandarin Gallery
22 Martin Road [Islandwide Delivery] -> 22 Martin Road
Ion [Islandwide Delivery] -> Ion
Clemenceau Avenue North  [Islandwide Delivery] -> Clemenceau Avenue North
Bukit Merah View Market [Islandwide Delivery] [Stall 47] -> Bukit Merah View Market
Great World City [Islandwide Delivery] -> Great World City
Tiong Bahru Plaza [Islandwide Delivery] -> Tiong Bahru Plaza
Killiney Road Mix & Match [Islandwide Delivery] -> Killiney Road Mix & Match
Far East Plaza [Islandwide Delivery] -> Far East Plaza
The Quayside Mix & Match [Islandwide Delivery] -> The Quayside Mix & Match
Takashimaya Shopping Centre [Islandwide Delivery] -> Takashimaya Shopping Centre
Smith Street [Islandwide Delivery] -> Smith Street
Havelock Road [Islandwide Delivery] -> Havelock Road
Mix & Match [Islandwide Delivery] -> Mix & Match
Centrepoint [Islandwide Delivery] -> Centrepoint
Dempsey Road [Islandwide Delivery] -> Dempsey Road
Great World City [Islandwide Delivery] -> Great World City
Regent Singapore [Islandwide Delivery] -> Regent Singapore
Paragon [Islandwide Delivery] -> Paragon
Central Mall [Islandwide Delivery] -> Central Mall
Hilton International Singapore [Islandwide Delivery] -> Hilton International Singapore
Somerset [Islandwide Delivery] -> Somerset
Orchard Tower [Islandwide Delivery] -> Orchard Tower
Newton Food Centre [Islandwide Delivery] -> Newton Food Centre
Orchard Central [Islandwide Delivery] -> Orchard Central
Dempsey Road [Islandwide Delivery] -> Dempsey Road
Dempsey Road [Islandwide Delivery] -> Dempsey Road
Somerset [Islandwide Delivery] -> Somerset
Mandarin Gallery [Islandwide Delivery] -> Mandarin Gallery
Ngee Ann City [Islandwide Delivery] -> Ngee Ann City
Wisma Atria [Islandwide Delivery] -> Wisma Atria
River Valley Road [Islandwide Delivery] -> River Valley Road
Farrer Wing Clubhouse [Islandwide Delivery] -> Farrer Wing Clubhouse
Far East Plaza [Islandwide Delivery] -> Far East Plaza
Wisma Atria [Islandwide Delivery] -> Wisma Atria
274 South Bridge Road [Islandwide Delivery] -> 274 South Bridge Road
Bukit Timah Road [Islandwide Delivery] -> Bukit Timah Road
Orchard Gateway [Islandwide Delivery] -> Orchard Gateway
Dempsey Road [Islandwide Delivery] -> Dempsey Road
Havelock Road [Islandwide Delivery] -> Havelock Road
Mandarin Gallery [Islandwide Delivery] -> Mandarin Gallery
Kian Teck Road [Islandwide Delivery] -> Kian Teck Road
Tiong Bahru Plaza [Islandwide Delivery] -> Tiong Bahru Plaza
Dempsey Road [Islandwide Delivery] -> Dempsey Road
Eng Hoon Street [Islandwide Delivery] -> Eng Hoon Street
Orchard Tower [Islandwide Delivery] -> Orchard Tower
Regent Singapore [Islandwide Delivery] -> Regent Singapore
Great World City [Islandwide Delivery] -> Great World City
Intercontinental Singapore Robertson Quay [Islandwide Delivery] -> Intercontinental Singapore Robertson Quay
People'S Park Food Centre [Islandwide Delivery] -> People'S Park Food Centre
Sixth Avenue [Islandwide Delivery] -> Sixth Avenue
Great World City [Islandwide Delivery] -> Great World City
La Hotel [Islandwide Delivery] -> La Hotel
The Quayside [Islandwide Delivery] -> The Quayside
Far East Plaza [Islandwide Delivery] -> Far East Plaza
The Centrepoint [Islandwide Delivery] -> The Centrepoint
Sunview [Islandwide Delivery] -> Sunview
Jurong Bird Park [Islandwide Delivery] -> Jurong Bird Park
The Quayside [Islandwide Delivery] -> The Quayside
The Centrepoint [Islandwide Delivery] -> The Centrepoint
Paragon [Islandwide Delivery] -> Paragon
Vivocity [Islandwide Delivery] -> Vivocity
76/78 Smith Street [Islandwide Delivery] -> 76/78 Smith Street
Mandarin Gallery [Islandwide Delivery] -> Mandarin Gallery
Jalan Teck Whye [Islandwide Delivery] -> Jalan Teck Whye
Forum [Islandwide Delivery] -> Forum
Orchard Road Forum [Islandwide Delivery] -> Orchard Road Forum
118 [Islandwide Delivery] -> 118
Orchard Central [Islandwide Delivery] -> Orchard Central
Hillion Mall [Islandwide Delivery] -> Hillion Mall
The Grandstand [Islandwide Delivery] -> The Grandstand

In [16]:
#To find the total distinct value after changing the values in address column to tittle case.
total_distinct_addresses = establishment_df['address'].nunique()

# Display the total number of distinct addresses
print("Total distinct addresses:", total_distinct_addresses)

Total distinct addresses: 4883

In [17]:
# Step 1: Filter the DataFrame
filtered_df = establishment_df[establishment_df['address'].str.lower().str.startswith(('a'))]

# Step 2: Extract distinct values from the filtered DataFrame
distinct_addresses_filtered = filtered_df['address'].unique()

# Step 3: Sort the distinct values alphabetically
distinct_addresses_filtered_sorted = sorted(distinct_addresses_filtered)

# Display the sorted distinct values
print("Distinct addresses starting with 'a':")
for address in distinct_addresses_filtered_sorted:
    print(address)

Distinct addresses starting with 'a':
A' Posh Bizhub
A'Posh Bizhub
Abc Brickworks Food Centre
Abc Brickworks Market & Food Centre
Abc Brickworks Market & Food Centre [Stall 113]
Abc Brickworks Market & Food Centre [Stall 120]
Abc Brickworks Market & Food Centre [Stall 12]
Abc Brickworks Market & Food Centre [Stall 143]
Abc Brickworks Market & Food Centre [Stall 15]
Abc Brickworks Market & Food Centre [Stall 18]
Abc Brickworks Market And Food Centre [Stall 10]
Abc Brickworks Market And Food Centre [Stall 2]
Abc Brickworks Market And Food Centre [Stall 8]
Acacia Breeze @ Yishun
Acacia Court
Academia
Academy Of Singapore Teachers
Ace Community Club
Adam Road Food Centre
Adda
Adelphi Park Estate
Admiralty
Admiralty Link
Admiralty Street
Admiralty [Islandwide Delivery]
Admiralty[Islandwide Delivery]
Admirax
Admirax [Islandwide Delivery]
Agape Village
Ah Hood
Ah Hood Road
Ah Wang Kway Chap
Air View Building
Airport Boulevard
Airport Boulevard [Islandwide Delivery]
Airview Building
Albert Centre
Alexandra
Alexandra Central
Alexandra Central Mall
Alexandra Hawker Centre [Islandwide Delivery]
Alexandra Hospital
Alexandra Retail Centre
Alexandra Retail Centre Psa Building
Alexandra Retail Centre [Islandwide Delivery]
Alexandra Road
Alexandra Technopark
Alexandra Village Food Centre
Aljunied
Aljunied 119 Food House
Aljunied Ave 2
Aljunied Ave 2 [Stall 17]
Aljunied Ave 2 [Stall 29]
Aljunied Ave 2 [Stall 59]
Aljunied Ave 2 [Stall 63]
Aljunied Ave 3
Aljunied Ave 4
Aljunied Ave 5
Aljunied Avenue 2
Aljunied B
Aljunied Crescent
Aljunied Industrial Complex
Aljunied Industrial Complex [Islandwide Delivery]
Aljunied Industrial Estate
Aljunied Mrt
Aljunied Mrt Station
Aljunied Road
Aljunied [Islandwide Delivery]
Alkaff Crescent
Alkaff Mansion
Alkaff Vista
Alocassia
Alocassia Apartments
Alpha Industrial Building
Altez
American Grill
Amk
Amk 408
Amk 724 Food Centre
Amk 724 [Stall 08]
Amk 724 [Stall 09]
Amk 724 [Stall 12]
Amk 724 [Stall 15]
Amk 724 [Stall 16]
Amk 724 [Stall 19]
Amk 724 [Stall 20]
Amk 724 [Stall 23]
Amk 724 [Stall 29]
Amk 724 [Stall 2]
Amk 724 [Stall 34]
Amk 724 [Stall 35]
Amk 724 [Stall 37]
Amk 724 [Stall 42]
Amk 724 [Stall 43]
Amk Autopoint
Amk Ave 10
Amk Ave 3
Amk Central Heights
Amk Hub
Amk Hub (Mix & Match)
Amk Mrt Station
Amk Tech I
Amk Tech Ii
Amk722
Amoy Don [Stall 10]
Amoy Food Centre
Amoy Mix & Match [Islandwide Delivery]
Amoy Street
Amoy Street Food Centre
Amoy Street Food Centre [Islandwide Delivery]
Amoy Street Food Centre [Stall 04]
Amoy Street Food Centre [Stall 124]
Amoy Street Food Centre [Stall 126]
Amoy Street Food Centre [Stall 127]
Amoy Street Food Centre [Stall 15]
Amoy Street Food Centre [Stall 48]
Amoy Street [Islandwide Delivery]
Anamalai Ave
Anamalai Avenue
Anchor Point
Anchorpoint
Anchorpoint Mall [Islandwide Delivery]
Anchorpoint Shopping Centre
Anchorvale
Anchorvale Court
Anchorvale Crescent
Anchorvale Horizon
Anchorvale Link
Anchorvale Road
Anchorvale Street
Andaz Singapore [Islandwide Delivery]
Andy'S Grill Express
Ang Mo Kio
Ang Mo Kio  Industrial Park 2
Ang Mo Kio 628 Market & Food Centre
Ang Mo Kio Ave 1
Ang Mo Kio Ave 10
Ang Mo Kio Ave 10 [Islandwide Delivery]
Ang Mo Kio Ave 2
Ang Mo Kio Ave 3
Ang Mo Kio Ave 4
Ang Mo Kio Ave 5
Ang Mo Kio Ave 6
Ang Mo Kio Ave 6 [Islandwide Delivery]
Ang Mo Kio Ave 6[Islandwide Delivery]
Ang Mo Kio Ave 8
Ang Mo Kio Ave 8 Foodloft Mix & Match
Ang Mo Kio Ave 8 [Islandwide Delivery]
Ang Mo Kio Avenue 1
Ang Mo Kio Avenue 10
Ang Mo Kio Avenue 3
Ang Mo Kio Avenue 4
Ang Mo Kio Avenue 5
Ang Mo Kio Avenue 6
Ang Mo Kio Avenue 8
Ang Mo Kio Avenue 8 [Islandwide Delivery]
Ang Mo Kio Central
Ang Mo Kio Central 3
Ang Mo Kio Chong Boon Hawker Centre
Ang Mo Kio Electronics Park Road
Ang Mo Kio Hub
Ang Mo Kio Hub [Islandwide Delivery]
Ang Mo Kio Industrial Park 1 [Islandwide Delivery]
Ang Mo Kio Industrial Park 2
Ang Mo Kio Industrial Park 2 [Islandwide Delivery]
Ang Mo Kio Ite
Ang Mo Kio Mrt
Ang Mo Kio Mrt Station
Ang Mo Kio Park
Ang Mo Kio Street 21
Ang Mo Kio Street 22
Ang Mo Kio Street 66
Ang Mo Kio Tech 1
Ang Mo Kio [Islandwide Delivery]
Ang Mo Kio[Islandwide Delivery]
Ann Siang
Ann Siang Hill
Ann Siang Mix & Match [Islandwide Delivery]
Ann Siang Road
Ansar Garden
Anson
Anson House
Aperia
Aperia Mall
Apex @ Henderson
Aps Industrial Building
Arab Street
Aranda Country Club
Arc
Arc 380
Arc [Islandwide Delivery]
Arena Country Club
Ark @Gambas
Ark@Gambas
Ark@Kb
Artra
Ascent
Ascent @ 456
Ascent@456
Ascott Orchard
Asia Square
Asia Square Tower 1
Asia Square Tower 1 [Islandwide Delivery]
Asia Square Tower 2
Asia Square Tower 2 [Islandwide Delivery]
Asian Civilisations Museum
Asiawide Industrial Building
Aspella
Aspella [Islandwide Delivery]
Aspial One
Atlantis Pods @ Bugis [Islandwide Delivery]
Atrium Residences
Audio House Building
Automobile Megamart
Avocado & Natural Foods  (Anchorpoint Shopping Centre)
Avocado Foods At Great World
Axa Tower
Axxel Innovation Centre [Islandwide Delivery]
Ayasofya Turkish Restaurant [Islandwide Delivery]
Ayer Rajah Amenity Centre
Ayer Rajah Cc
Ayer Rajah Community Centre
Ayer Rajah Crescent
Ayer Rajah Food Centre
Ayer Rajah Food Centre 1
Ayer Rajah Food Centre I
Ayer Rajah Food Centre [Islandwide Delivery]
Ayer Rajah Food Centre [Stall 10] [Islandwide Delivery]
Ayer Rajah Food Centre [Stall 27]
Ayer Rajah Food Centre [Stall 30]
Ayer Rajah Food Centre [Stall 45]
Ayer Rajah Food Centre [Stall 49]
Ayer Rajah Food Centre [Stall 55]
Ayer Rajah Food Centre [Stall 57]
Ayer Rajah Food Centre [Stall 60]
Ayer Rajah Food Centre [Stall 69]
Ayer Rajah Food Centre [Stall 74]

#### 2nd attempt on data standardization (it created a seperate columns instead)

In [18]:
import re

# Define a function to standardize addresses and count changes
def standardize_address_and_count(address):
    # Initialize counter for changes
    num_changes = 0
    
    # Remove '[Stall xx]' part using regular expression
    standardized_address = re.sub(r'\[.*?\]', '', address)
    
    # Replace 'And' with '&' and remove leading/trailing spaces
    standardized_address = standardized_address.replace('And', '&').strip()
    
    # Replace any occurrence of 'Abc Brickworks' with 'Abc Brickworks Market & Food Centre'
    if 'Abc Brickworks' in standardized_address:
        standardized_address = standardized_address.replace('Abc Brickworks', 'Abc Brickworks Market & Food Centre')
        num_changes += 1
    
    return standardized_address, num_changes

# Apply the standardization function to the 'address' column of the DataFrame
establishment_df['address'], num_changes = zip(*establishment_df['address'].apply(standardize_address_and_count))

# Print the total count of entries that were changed
print("Total count of entries changed:", sum(num_changes))

# Print the list of entries that were changed
changed_entries = establishment_df[establishment_df['standardized_address'] != establishment_df['address']]

print("\nList of entries that were changed:")
for index, row in changed_entries.iterrows():
    print(row['address'], '->', row['standardized_address'])

Total count of entries changed: 11

List of entries that were changed:

In [19]:
# Step 1: Filter the DataFrame
filtered_df = establishment_df[establishment_df['address'].str.lower().str.startswith(('a'))]

# Step 2: Extract distinct values from the filtered DataFrame
distinct_addresses_filtered = filtered_df['address'].unique()

# Step 3: Sort the distinct values alphabetically
distinct_addresses_filtered_sorted = sorted(distinct_addresses_filtered)

# Display the sorted distinct values
print("Distinct addresses starting with 'a':")
for address in distinct_addresses_filtered_sorted:
    print(address)

Distinct addresses starting with 'a':
A' Posh Bizhub
A'Posh Bizhub
Abc Brickworks Market & Food Centre Food Centre
Abc Brickworks Market & Food Centre Market & Food Centre
Acacia Breeze @ Yishun
Acacia Court
Academia
Academy Of Singapore Teachers
Ace Community Club
Adam Road Food Centre
Adda
Adelphi Park Estate
Admiralty
Admiralty Link
Admiralty Street
Admirax
Agape Village
Ah Hood
Ah Hood Road
Ah Wang Kway Chap
Air View Building
Airport Boulevard
Airview Building
Albert Centre
Alexandra
Alexandra Central
Alexandra Central Mall
Alexandra Hawker Centre
Alexandra Hospital
Alexandra Retail Centre
Alexandra Retail Centre Psa Building
Alexandra Road
Alexandra Technopark
Alexandra Village Food Centre
Aljunied
Aljunied 119 Food House
Aljunied Ave 2
Aljunied Ave 3
Aljunied Ave 4
Aljunied Ave 5
Aljunied Avenue 2
Aljunied B
Aljunied Crescent
Aljunied Industrial Complex
Aljunied Industrial Estate
Aljunied Mrt
Aljunied Mrt Station
Aljunied Road
Alkaff Crescent
Alkaff Mansion
Alkaff Vista
Alocassia
Alocassia Apartments
Alpha Industrial Building
Altez
American Grill
Amk
Amk 408
Amk 724
Amk 724 Food Centre
Amk Autopoint
Amk Ave 10
Amk Ave 3
Amk Central Heights
Amk Hub
Amk Hub (Mix & Match)
Amk Mrt Station
Amk Tech I
Amk Tech Ii
Amk722
Amoy Don
Amoy Food Centre
Amoy Mix & Match
Amoy Street
Amoy Street Food Centre
Anamalai Ave
Anamalai Avenue
Anchor Point
Anchorpoint
Anchorpoint Mall
Anchorpoint Shopping Centre
Anchorvale
Anchorvale Court
Anchorvale Crescent
Anchorvale Horizon
Anchorvale Link
Anchorvale Road
Anchorvale Street
Ang Mo Kio
Ang Mo Kio  Industrial Park 2
Ang Mo Kio 628 Market & Food Centre
Ang Mo Kio Ave 1
Ang Mo Kio Ave 10
Ang Mo Kio Ave 2
Ang Mo Kio Ave 3
Ang Mo Kio Ave 4
Ang Mo Kio Ave 5
Ang Mo Kio Ave 6
Ang Mo Kio Ave 8
Ang Mo Kio Ave 8 Foodloft Mix & Match
Ang Mo Kio Avenue 1
Ang Mo Kio Avenue 10
Ang Mo Kio Avenue 3
Ang Mo Kio Avenue 4
Ang Mo Kio Avenue 5
Ang Mo Kio Avenue 6
Ang Mo Kio Avenue 8
Ang Mo Kio Central
Ang Mo Kio Central 3
Ang Mo Kio Chong Boon Hawker Centre
Ang Mo Kio Electronics Park Road
Ang Mo Kio Hub
Ang Mo Kio Industrial Park 1
Ang Mo Kio Industrial Park 2
Ang Mo Kio Ite
Ang Mo Kio Mrt
Ang Mo Kio Mrt Station
Ang Mo Kio Park
Ang Mo Kio Street 21
Ang Mo Kio Street 22
Ang Mo Kio Street 66
Ang Mo Kio Tech 1
Ann Siang
Ann Siang Hill
Ann Siang Mix & Match
Ann Siang Road
Ansar Garden
Anson
Anson House
Aperia
Aperia Mall
Apex @ Henderson
Aps Industrial Building
Arab Street
Aranda Country Club
Arc
Arc 380
Arena Country Club
Ark @Gambas
Ark@Gambas
Ark@Kb
Artra
Ascent
Ascent @ 456
Ascent@456
Ascott Orchard
Asia Square
Asia Square Tower 1
Asia Square Tower 2
Asian Civilisations Museum
Asiawide Industrial Building
Aspella
Aspial One
Atlantis Pods @ Bugis
Atrium Residences
Audio House Building
Automobile Megamart
Avocado & Natural Foods  (Anchorpoint Shopping Centre)
Avocado Foods At Great World
Axa Tower
Axxel Innovation Centre
Ayasofya Turkish Restaurant
Ayer Rajah Amenity Centre
Ayer Rajah Cc
Ayer Rajah Community Centre
Ayer Rajah Crescent
Ayer Rajah Food Centre
Ayer Rajah Food Centre 1
Ayer Rajah Food Centre I

### The distinct Values reduced from 4883 to 4029

In [20]:
#To find the total distinct value after standardizing the data with removal of '[xxx]' and change 'And' to '&'
total_distinct_addresses = establishment_df['address'].nunique()

# Display the total number of distinct addresses
print("Total distinct addresses:", total_distinct_addresses)

Total distinct addresses: 4029

### Further standiardize the entries in address column by removing whatever additional information after the add like brackets and such, replace all the 'Amk' to 'Ang Mo Kio'

In [21]:
import re

# Define a function to standardize addresses
def standardize_address(address):
    # Condition 1: Remove additional information after the address
    address = re.sub(r'\s*\([^)]*\)', '', address)

    # Condition 2: Replace variations of 'Ayer Rajah Food Centre' with 'Ayer Rajah Food Centre'
    if 'Ayer Rajah Food Centre' in address:
        address = 'Ayer Rajah Food Centre'

    # Condition 3: Replace variations of 'Ayer Rajah CC' with 'Ayer Rajah CC'
    elif 'Ayer Rajah Cc' in address or 'Ayer Rajah Community Centre' in address:
        address = 'Ayer Rajah CC'

    # Condition 4: Replace variations of 'Asia Square' with 'Asia Square'
    elif 'Asia Square' in address:
        address = 'Asia Square'

    # Replace variation 'Abc Brickworks Market & Food Centre Market & Food Centre Food Centre' 
    elif 'Abc Brickworks Market & Food Centre' in address:
        address = 'Abc Brickworks Market & Food Centre'

        
    # Condition 5: Replace 'Amk' with 'Ang Mo Kio'
    address = address.replace('Amk', 'Ang Mo Kio')

    #Replace variation 'Abc Brickworks Market & Food Centre Market & Food Centre Food Centre' 
    
    return address

# Apply the standardization function to the 'address' column of the DataFrame
establishment_df['address'] = establishment_df['address'].apply(standardize_address)

In [22]:
# Step 1: Filter the DataFrame
filtered_df = establishment_df[establishment_df['address'].str.lower().str.startswith(('a'))]

# Step 2: Extract distinct values from the filtered DataFrame
distinct_addresses_filtered = filtered_df['address'].unique()

# Step 3: Sort the distinct values alphabetically
distinct_addresses_filtered_sorted = sorted(distinct_addresses_filtered)

# Display the sorted distinct values
print("Distinct addresses starting with 'a':")
for address in distinct_addresses_filtered_sorted:
    print(address)

Distinct addresses starting with 'a':
A' Posh Bizhub
A'Posh Bizhub
Abc Brickworks Market & Food Centre
Acacia Breeze @ Yishun
Acacia Court
Academia
Academy Of Singapore Teachers
Ace Community Club
Adam Road Food Centre
Adda
Adelphi Park Estate
Admiralty
Admiralty Link
Admiralty Street
Admirax
Agape Village
Ah Hood
Ah Hood Road
Ah Wang Kway Chap
Air View Building
Airport Boulevard
Airview Building
Albert Centre
Alexandra
Alexandra Central
Alexandra Central Mall
Alexandra Hawker Centre
Alexandra Hospital
Alexandra Retail Centre
Alexandra Retail Centre Psa Building
Alexandra Road
Alexandra Technopark
Alexandra Village Food Centre
Aljunied
Aljunied 119 Food House
Aljunied Ave 2
Aljunied Ave 3
Aljunied Ave 4
Aljunied Ave 5
Aljunied Avenue 2
Aljunied B
Aljunied Crescent
Aljunied Industrial Complex
Aljunied Industrial Estate
Aljunied Mrt
Aljunied Mrt Station
Aljunied Road
Alkaff Crescent
Alkaff Mansion
Alkaff Vista
Alocassia
Alocassia Apartments
Alpha Industrial Building
Altez
American Grill
Amoy Don
Amoy Food Centre
Amoy Mix & Match
Amoy Street
Amoy Street Food Centre
Anamalai Ave
Anamalai Avenue
Anchor Point
Anchorpoint
Anchorpoint Mall
Anchorpoint Shopping Centre
Anchorvale
Anchorvale Court
Anchorvale Crescent
Anchorvale Horizon
Anchorvale Link
Anchorvale Road
Anchorvale Street
Ang Mo Kio
Ang Mo Kio  Industrial Park 2
Ang Mo Kio 408
Ang Mo Kio 628 Market & Food Centre
Ang Mo Kio 724
Ang Mo Kio 724 Food Centre
Ang Mo Kio Autopoint
Ang Mo Kio Ave 1
Ang Mo Kio Ave 10
Ang Mo Kio Ave 2
Ang Mo Kio Ave 3
Ang Mo Kio Ave 4
Ang Mo Kio Ave 5
Ang Mo Kio Ave 6
Ang Mo Kio Ave 8
Ang Mo Kio Ave 8 Foodloft Mix & Match
Ang Mo Kio Avenue 1
Ang Mo Kio Avenue 10
Ang Mo Kio Avenue 3
Ang Mo Kio Avenue 4
Ang Mo Kio Avenue 5
Ang Mo Kio Avenue 6
Ang Mo Kio Avenue 8
Ang Mo Kio Central
Ang Mo Kio Central 3
Ang Mo Kio Central Heights
Ang Mo Kio Chong Boon Hawker Centre
Ang Mo Kio Electronics Park Road
Ang Mo Kio Hub
Ang Mo Kio Industrial Park 1
Ang Mo Kio Industrial Park 2
Ang Mo Kio Ite
Ang Mo Kio Mrt
Ang Mo Kio Mrt Station
Ang Mo Kio Park
Ang Mo Kio Street 21
Ang Mo Kio Street 22
Ang Mo Kio Street 66
Ang Mo Kio Tech 1
Ang Mo Kio Tech I
Ang Mo Kio Tech Ii
Ang Mo Kio722
Ann Siang
Ann Siang Hill
Ann Siang Mix & Match
Ann Siang Road
Ansar Garden
Anson
Anson House
Aperia
Aperia Mall
Apex @ Henderson
Aps Industrial Building
Arab Street
Aranda Country Club
Arc
Arc 380
Arena Country Club
Ark @Gambas
Ark@Gambas
Ark@Kb
Artra
Ascent
Ascent @ 456
Ascent@456
Ascott Orchard
Asia Square
Asian Civilisations Museum
Asiawide Industrial Building
Aspella
Aspial One
Atlantis Pods @ Bugis
Atrium Residences
Audio House Building
Automobile Megamart
Avocado & Natural Foods
Avocado Foods At Great World
Axa Tower
Axxel Innovation Centre
Ayasofya Turkish Restaurant
Ayer Rajah Amenity Centre
Ayer Rajah CC
Ayer Rajah Crescent
Ayer Rajah Food Centre

#### The distint values reduced further from original 4883 to 3971

In [23]:
#To find the total distinct value after standardizing the data with removal of '[xxx]' and change 'And' to '&'
total_distinct_addresses = establishment_df['address'].nunique()

# Display the total number of distinct addresses
print("Total distinct addresses:", total_distinct_addresses)

Total distinct addresses: 3971

### This is the standardization suggestion upon further investigation as its only done base on alphabet 'a', in future more cleaning needed to standardize the address to havebettergrouping

In [24]:
print(establishment_df.isnull().sum())

id_source                  0
name                       6
address                    0
country                    0
cuisine                    2
currency                  19
delivery_cost             51
lat                        0
lon                        0
opening_hours              0
image_url                 11
radius                     0
rating                  2132
reviews_nr              2534
delivery_options           0
promo                   7359
loc_type                   0
delivery_by                0
delivery_time            183
standardized_address       0
dtype: int64

#### Filter out corrupt Data . Removing rows with Null values in 'name' column 
- Possible reasons as the name shows test this might be test vendors at the initial grab phrase so droppingthisrows

In [25]:
# Drop rows with null values in the 'name' column
establishment_df.dropna(subset=['name'],inplace=True)

In [26]:
print(establishment_df.isnull().sum())

id_source                  0
name                       0
address                    0
country                    0
cuisine                    2
currency                  19
delivery_cost             51
lat                        0
lon                        0
opening_hours              0
image_url                 11
radius                     0
rating                  2126
reviews_nr              2528
delivery_options           0
promo                   7354
loc_type                   0
delivery_by                0
delivery_time            183
standardized_address       0
dtype: int64

In [27]:
establishment_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16130 entries, 0 to 16135
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id_source             16130 non-null  object
 1   name                  16130 non-null  object
 2   address               16130 non-null  object
 3   country               16130 non-null  object
 4   cuisine               16128 non-null  object
 5   currency              16111 non-null  object
 6   delivery_cost         16079 non-null  float64
 7   lat                   16130 non-null  float64
 8   lon                   16130 non-null  float64
 9   opening_hours         16130 non-null  object
 10  image_url             16119 non-null  object
 11  radius                16130 non-null  int64
 12  rating                14004 non-null  float64
 13  reviews_nr            13602 non-null  float64
 14  delivery_options      16130 non-null  object
 15  promo                 8776 non-null   object
 16  loc_type              16130 non-null  object
 17  delivery_by           16130 non-null  object
 18  delivery_time         15947 non-null  float64
 19  standardized_address  16130 non-null  object
dtypes: float64(6), int64(1), object(13)
memory usage: 2.6+ MB

In [28]:
# Filter the DataFrame to select rows with null values in the 'rating' column
establishment_df[establishment_df['rating'].isnull()].head(5)

,id_source,name,address,country,cuisine,currency,delivery_cost,lat,lon,opening_hours,image_url,radius,rating,reviews_nr,delivery_options,promo,loc_type,delivery_by,delivery_time,standardized_address
47,4-C2TYVNCKMAEBSA,Pet Lovers Centre,Vivocity,Singapore,"[""Mart"", ""Pet Accessories"", ""Pet Care"", ""Pet F...",SGD,570.0,1.265074,103.822735,"{""open"": true, ""displayedHours"": ""10:00-21:40""...",https://d1sag4ddilekf6.cloudfront.net/compress...,2500,NaN,NaN,ONLY_DELIVERY,June Specials - Discounted Items!,MART,GRAB,38.0,Vivocity
50,4-C2KWT4CGAK3DC2,Barossa Bar & Grill,Vivo City,Singapore,"[""Western""]",SGD,570.0,1.265002,103.822709,"{""open"": true, ""displayedHours"": ""11:30-21:00""...",https://d1sag4ddilekf6.cloudfront.net/compress...,5000,NaN,NaN,DELIVERY_TAKEAWAY,NaN,FOOD,GRAB,44.0,Vivo City
64,4-C2UBV8MHHADJG6,Tree Side Nasi Lemak,Vivo City,Singapore,"[""Asian"", ""Malaysian""]",SGD,570.0,1.264305,103.822309,"{""open"": true, ""displayedHours"": ""10:30-21:00""...",https://d1sag4ddilekf6.cloudfront.net/compress...,5000,NaN,NaN,ONLY_DELIVERY,NaN,FOOD,GRAB,31.0,Vivo City
73,4-C2TYTCLHWBVKHE,Ola Beach Club,Ola Beach Club,Singapore,"[""Beverages"", ""Western""]",SGD,760.0,1.251185,103.817939,"{""open"": true, ""displayedHours"": ""10:00-19:30""...",https://d1sag4ddilekf6.cloudfront.net/compress...,2500,NaN,NaN,DELIVERY_TAKEAWAY,NaN,FOOD,GRAB,40.0,Ola Beach Club
84,4-C2MTBB4FE6NVFE,Thai Ai Ai,Vivo City,Singapore,"[""Asian"", ""Local"", ""Thai""]",SGD,570.0,1.264305,103.822309,"{""open"": true, ""displayedHours"": ""09:00-21:45""...",https://d1sag4ddilekf6.cloudfront.net/compress...,5000,NaN,NaN,DELIVERY_TAKEAWAY,30% off with S$15.00 min. order,FOOD,GRAB,39.0,Vivo City

In [29]:
# Step 2: Extract distinct values from the filtered DataFrame
establishment_df['loc_type'].unique()

array(['FOOD', 'MART'], dtype=object)

#### Drop columns to remove duplicate columns

In [30]:
# List of columns to drop
columns_to_drop = ['country', 'cuisine', 'currency', 'delivery_cost', 'opening_hours', 'image_url', 'radius', 'delivery_options', 'promo', 'delivery_by', 'delivery_time']

# Drop the specified columns from the DataFrame
establishment_df.drop(columns=columns_to_drop, inplace=True)

In [31]:
establishment_df.tail(5)

,id_source,name,address,lat,lon,rating,reviews_nr,loc_type,standardized_address
16131,4-CZNFTYKKVA3UN2,Minjiangkueh,Ang Mo Kio Ave 3,1.370340,103.843225,5.0,2.0,FOOD,Ang Mo Kio Ave 3
16132,SGDD01192,The Modern Izakaya by Tatsu,18),1.295404,103.851698,NaN,NaN,FOOD,18)
16133,SGDD00961,Raj Restaurant,Soho @ Farrer,1.310830,103.852873,3.9,72.0,FOOD,Soho @ Farrer
16134,4-C2AHJVATN7C2RE,Albismi Indian Muslim Food,Woodlands Road,1.396885,103.753440,3.6,19.0,FOOD,Woodlands Road
16135,4-C2DXFEK2R6KJTJ,Zam Zam Indian Special Food,Yishun Industrial Park A,1.441651,103.831330,4.3,37.0,FOOD,Yishun Industrial Park A

#### Noted there  was 2 columns for address: 'address' & 'standardized_address' 
- 'standardized_address' column was created as a result of trial and error in the process of data standardization
-  find the distict values of the both columns to chk if the standardization applied correctly to 'address' column

In [32]:
#To find the total distinct value after standardizing the data with removal of '[xxx]' and change 'And' to '&'
total_distinct_addresses = establishment_df['standardized_address' ].nunique()

# Display the total number of distinct addresses
print("Total distinct addresses:", total_distinct_addresses)

Total distinct addresses: 4025

In [33]:
#To find the total distinct value after standardizing the data with removal of '[xxx]' and change 'And' to '&'
total_distinct_addresses = establishment_df['address'].nunique()

# Display the total number of distinct addresses
print("Total distinct addresses:", total_distinct_addresses)

Total distinct addresses: 3967

#### Drop another column that was created as a result of trial and error in the process of data standardization

In [34]:
# List of columns to drop
columns_to_drop = ['standardized_address']

# Drop the specified columns from the DataFrame
establishment_df.drop(columns=columns_to_drop, inplace=True)

In [35]:
establishment_df.head(3)

,id_source,name,address,lat,lon,rating,reviews_nr,loc_type
0,SGDD01085,Texas Chicken,Vivocity,1.264792,103.822103,3.8,1591.0,FOOD
1,4-CYTDLPUJEP53N6,Subway,Vivocity,1.264741,103.822072,4.2,197.0,FOOD
2,SGDD05605,LiHO Tea,Vivo City,1.264309,103.821369,4.5,353.0,FOOD

#### Change all entries under 'address' column to lowercase to standardized further for easier analytics process in the future

In [36]:
# Convert the values in the 'address' column to lowercase
establishment_df['address'] = establishment_df['address'].str.lower()

In [37]:
establishment_df.head(3)

,id_source,name,address,lat,lon,rating,reviews_nr,loc_type
0,SGDD01085,Texas Chicken,vivocity,1.264792,103.822103,3.8,1591.0,FOOD
1,4-CYTDLPUJEP53N6,Subway,vivocity,1.264741,103.822072,4.2,197.0,FOOD
2,SGDD05605,LiHO Tea,vivo city,1.264309,103.821369,4.5,353.0,FOOD

### Download neccesay libraries to Load the  establishment dataframe to postgres database

In [38]:
!pip install sqlalchemy
!pip install psycopg2

Requirement already satisfied: sqlalchemy in c:\users\t470\appdata\local\programs\python\python311\lib\site-packages (2.0.29)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\t470\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (4.7.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\t470\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (3.0.3)

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: psycopg2 in c:\users\t470\appdata\local\programs\python\python311\lib\site-packages (2.9.9)

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

### Adding to a Database Grab_df : ESTABLISHMENT_TBL - SAILA

In [39]:
from sqlalchemy import create_engine
username='postgres'
password = 'admin'
hostname = 'localhost'
port = 5432
database = 'grab_db'

db_url = f'postgresql://{username}:{password}@{hostname}:{port}/{database}'

#create a connection to the database
#engine = create_engine('postgresql://postgres:admin@localhost:5432/grab_db')
engine = create_engine(db_url)


# Create a new establishment table
commands = ('''Create TABLE IF NOT EXISTS establishment_tbl(id_source VARCHAR PRIMARY KEY,
                                                name VARCHAR,
                                                address VARCHAR,
                                                lat NUMERIC,
                                                lon NUMERIC,
                                                rating NUMERIC,
                                                reviews_nr NUMERIC,
                                                loc_type VARCHAR
                                                );''')

#Copy the data to the PostgreSQL table
establishment_df.to_sql('establishment_tbl', engine, if_exists='replace',index=False)

130

### Creating the dataframe : cuisine_df  - HASSAN

first we are going to replace the establishment_df['cuisine'] list rows from " into ' quote.
Then we create a column for the eventual primary key called cus_id
then we only have 3 columns in cuisine_df which is cuisine_id , id_source and cuisine

In [43]:
#transferring master_df to cuisines_df

cuisine_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16130 entries, 0 to 16135
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id_source   16130 non-null  object
 1   name        16130 non-null  object
 2   address     16130 non-null  object
 3   lat         16130 non-null  float64
 4   lon         16130 non-null  float64
 5   rating      14004 non-null  float64
 6   reviews_nr  13602 non-null  float64
 7   loc_type    16130 non-null  object
dtypes: float64(4), object(4)
memory usage: 1.1+ MB

In [42]:
#transferring master_df to cuisines_df
# cuisine_df=master_df
# cuisine_df.head()

#clearing ' due to aprostophe 's from cuisine_df['cuisine'] list
cuisine_df['cuisine']=cuisine_df['cuisine'].str.replace('\'',"")

#clearing " from cuisine_df['cuisine'] list
cuisine_df['cuisine']=cuisine_df['cuisine'].str.replace('"',"")

#clearing [,] from cuisine_df['cuisine'] list
cuisine_df['cuisine']=cuisine_df['cuisine'].str.replace('[',"")
cuisine_df['cuisine']=cuisine_df['cuisine'].str.replace(']',"")

# Add a primary key column
cuisine_df['cuisine_id'] = ['cus_' + str(i + 1) for i in range(len(cuisine_df))]

cuisine_df=cuisine_df[['cuisine_id','id_source','cuisine']]

#making all text in cuisine column to lowercase
cuisine_df.loc[:, 'cuisine']=cuisine_df['cuisine'].str.lower()

cuisine_df

KeyError: 'cuisine'

null values found in cuisine, this we will fill it with thai for index 2473 and korean, beveragees for indx 15049

In [ ]:
cuisine_df[cuisine_df['cuisine'].isna()]

,id_source,name,address,country,cuisine,currency,delivery_cost,lat,lon,opening_hours,image_url,radius,rating,reviews_nr,delivery_options,promo,loc_type,delivery_by,delivery_time
2473,4-CZB3EYJJMEUBAX,HAPPY THAI KITCHEN,HAPPY THAI KITCHEN,Singapore,NaN,SGD,1890.0,1.303437,103.765536,"{""displayedHours"": ""Closed"", ""sun"": ""04:00-04:...",https://d1sag4ddilekf6.cloudfront.net/compress...,5000,4.1,102.0,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...,FOOD,GRAB,35.0
15049,4-C2EVG4BDGEVTG6,Relax Bar,Relax Bar - The Punggol Settlement,Singapore,NaN,SGD,1900.0,1.420844,103.912429,"{""displayedHours"": ""Closed"", ""sun"": ""15:00-22:...",https://d1sag4ddilekf6.cloudfront.net/compress...,5000,5.0,2.0,DELIVERY_TAKEAWAY,20% off with S$35.00 min. order,FOOD,GRAB,36.0

filling up null values in cuisine column with appropriate category types according to their establishment information

In [ ]:
# index 2473 filling up null values with relevant values
cuisine_df.at[2473, 'cuisine'] = 'thai'

# index 15049 filling up null values with relevant values
cuisine_df.at[15049, 'cuisine'] = 'beverages, korean'

#you may check again if there are any more nulls in cuisine column
#cuisine_df[cuisine_df['cuisine'].isna()]

For each row sort the values in the cuisines category in alphabetical order a-z

In [ ]:
# Sort the values within each string alphabetically
cuisine_df['cuisine'] = cuisine_df['cuisine'].apply(lambda x: ', '.join(sorted(x.split(', '))))


cuisine_df

,id_source,name,address,country,cuisine,currency,delivery_cost,lat,lon,opening_hours,image_url,radius,rating,reviews_nr,delivery_options,promo,loc_type,delivery_by,delivery_time
0,SGDD01085,Texas Chicken,Texas Chicken - VivoCity,Singapore,"""Beverages""], ""Chicken"", ""Fast Food"", ""Halal"",...",SGD,570.0,1.264792,103.822103,"{""open"": true, ""displayedHours"": ""10:30-21:30""...",https://d1sag4ddilekf6.cloudfront.net/compress...,5000,3.8,1591.0,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...,FOOD,GRAB,43.0
1,4-CYTDLPUJEP53N6,Subway,Subway - Vivocity,Singapore,"""Fast Food"", ""Halal"", ""Sandwiches"", ""Western""]...",SGD,570.0,1.264741,103.822072,"{""open"": true, ""displayedHours"": ""12:00-19:00""...",https://d1sag4ddilekf6.cloudfront.net/compress...,3000,4.2,197.0,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...,FOOD,GRAB,42.0
2,SGDD05605,LiHO Tea,LiHO Tea - Vivo City,Singapore,"""Beverages"", ""Bubble Tea""], ""Local"", [""Same Pr...",SGD,560.0,1.264309,103.821369,"{""open"": true, ""displayedHours"": ""11:30-20:45""...",https://d1sag4ddilekf6.cloudfront.net/compress...,5000,4.5,353.0,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...,FOOD,GRAB,41.0
3,SGDD07548,Wingstop,Wingstop - VivoCity,Singapore,"""Burger"", ""Chicken"", ""Fast Food"", ""Western""], ...",SGD,560.0,1.263527,103.821712,"{""open"": true, ""displayedHours"": ""11:00-21:00""...",https://d1sag4ddilekf6.cloudfront.net/compress...,5000,4.4,1391.0,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...,FOOD,GRAB,45.0
4,4-CY2ZLZLTT2EDJ2,Le Shrimp Ramen,Le Shrimp Ramen - Vivocity,Singapore,"""Asian""], ""Noodles"", ""Ramen"", [""Japanese""",SGD,570.0,1.264810,103.822554,"{""open"": true, ""displayedHours"": ""10:30-21:00""...",https://d1sag4ddilekf6.cloudfront.net/compress...,5000,4.6,309.0,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...,FOOD,GRAB,44.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16131,4-CZNFTYKKVA3UN2,Minjiangkueh,Minjiangkueh - Ang Mo Kio Ave 3,Singapore,"""Bakery & Cake"", ""Breakfast & Brunch"", ""Singap...",NaN,NaN,1.370340,103.843225,"{""displayedHours"": ""Closed"", ""sun"": ""Closed"", ...",https://d1sag4ddilekf6.cloudfront.net/compress...,5000,5.0,2.0,DELIVERY_TAKEAWAY,NaN,FOOD,GRAB,26.0
16132,SGDD01192,The Modern Izakaya by Tatsu,The Modern Izakaya by Tatsu - Chijmes (#01-18),Singapore,"""Grill""], ""Noodles"", [""Japanese""",NaN,NaN,1.295404,103.851698,"{""displayedHours"": ""Closed"", ""sun"": ""12:00-14:...",https://d1sag4ddilekf6.cloudfront.net/compress...,3000,NaN,NaN,DELIVERY_TAKEAWAY,NaN,FOOD,GRAB,23.0
16133,SGDD00961,Raj Restaurant,Raj Restaurant - SOHO @ Farrer,Singapore,"""Dessert"", ""Vegetarian""], [""Indian""",SGD,560.0,1.310830,103.852873,"{""displayedHours"": ""Closed"", ""sun"": ""11:00-22:...",https://d1sag4ddilekf6.cloudfront.net/compress...,3000,3.9,72.0,DELIVERY_TAKEAWAY_DINEIN,NaN,FOOD,GRAB,26.0
16134,4-C2AHJVATN7C2RE,Albismi Indian Muslim Food,Albismi Indian Muslim Food - Woodlands Road,Singapore,"[""Indian""]",NaN,NaN,1.396885,103.753440,"{""displayedHours"": ""Closed"", ""sun"": ""09:00-22:...",https://d1sag4ddilekf6.cloudfront.net/compress...,5000,3.6,19.0,DELIVERY_TAKEAWAY,NaN,FOOD,GRAB,30.0
16135,4-C2DXFEK2R6KJTJ,Zam Zam Indian Special Food,Zam Zam Indian Special Food - Yishun Industria...,Singapore,"[""Indian""]",NaN,NaN,1.441651,103.831330,"{""displayedHours"": ""Closed"", ""sun"": ""Closed"", ...",https://d1sag4ddilekf6.cloudfront.net/compress...,5000,4.3,37.0,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...,FOOD,GRAB,27.0

After sort alphabetically break into seperate columns

In [ ]:
# Split the 'cuisine' column by comma and expand into separate columns
cuisines_split = cuisine_df['cuisine'].str.split(', ', expand=True)

# Rename the new columns
cuisines_split.columns = [f'cuisine_{i+1}' for i in range(cuisines_split.shape[1])]

# Concatenate the new columns with the original DataFrame and drop the old cuisine column
cuisine_df = pd.concat([cuisine_df.drop(columns=['cuisine']), cuisines_split], axis=1)

cuisine_df

,id_source,name,address,country,currency,delivery_cost,lat,lon,opening_hours,image_url,...,delivery_options,promo,loc_type,delivery_by,delivery_time,cuisine_1,cuisine_2,cuisine_3,cuisine_4,cuisine_5
0,SGDD01085,Texas Chicken,Texas Chicken - VivoCity,Singapore,SGD,570.0,1.264792,103.822103,"{""open"": true, ""displayedHours"": ""10:30-21:30""...",https://d1sag4ddilekf6.cloudfront.net/compress...,...,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...,FOOD,GRAB,43.0,"""Beverages""]","""Chicken""","""Fast Food""","""Halal""","[""Western"""
1,4-CYTDLPUJEP53N6,Subway,Subway - Vivocity,Singapore,SGD,570.0,1.264741,103.822072,"{""open"": true, ""displayedHours"": ""12:00-19:00""...",https://d1sag4ddilekf6.cloudfront.net/compress...,...,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...,FOOD,GRAB,42.0,"""Fast Food""","""Halal""","""Sandwiches""","""Western""]","[""Healthy"""
2,SGDD05605,LiHO Tea,LiHO Tea - Vivo City,Singapore,SGD,560.0,1.264309,103.821369,"{""open"": true, ""displayedHours"": ""11:30-20:45""...",https://d1sag4ddilekf6.cloudfront.net/compress...,...,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...,FOOD,GRAB,41.0,"""Beverages""","""Bubble Tea""]","""Local""","[""Same Prices In-Store""",None
3,SGDD07548,Wingstop,Wingstop - VivoCity,Singapore,SGD,560.0,1.263527,103.821712,"{""open"": true, ""displayedHours"": ""11:00-21:00""...",https://d1sag4ddilekf6.cloudfront.net/compress...,...,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...,FOOD,GRAB,45.0,"""Burger""","""Chicken""","""Fast Food""","""Western""]","[""Halal"""
4,4-CY2ZLZLTT2EDJ2,Le Shrimp Ramen,Le Shrimp Ramen - Vivocity,Singapore,SGD,570.0,1.264810,103.822554,"{""open"": true, ""displayedHours"": ""10:30-21:00""...",https://d1sag4ddilekf6.cloudfront.net/compress...,...,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...,FOOD,GRAB,44.0,"""Asian""]","""Noodles""","""Ramen""","[""Japanese""",None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16131,4-CZNFTYKKVA3UN2,Minjiangkueh,Minjiangkueh - Ang Mo Kio Ave 3,Singapore,NaN,NaN,1.370340,103.843225,"{""displayedHours"": ""Closed"", ""sun"": ""Closed"", ...",https://d1sag4ddilekf6.cloudfront.net/compress...,...,DELIVERY_TAKEAWAY,NaN,FOOD,GRAB,26.0,"""Bakery & Cake""","""Breakfast & Brunch""","""Singaporean""]","[""Asian""",None
16132,SGDD01192,The Modern Izakaya by Tatsu,The Modern Izakaya by Tatsu - Chijmes (#01-18),Singapore,NaN,NaN,1.295404,103.851698,"{""displayedHours"": ""Closed"", ""sun"": ""12:00-14:...",https://d1sag4ddilekf6.cloudfront.net/compress...,...,DELIVERY_TAKEAWAY,NaN,FOOD,GRAB,23.0,"""Grill""]","""Noodles""","[""Japanese""",None,None
16133,SGDD00961,Raj Restaurant,Raj Restaurant - SOHO @ Farrer,Singapore,SGD,560.0,1.310830,103.852873,"{""displayedHours"": ""Closed"", ""sun"": ""11:00-22:...",https://d1sag4ddilekf6.cloudfront.net/compress...,...,DELIVERY_TAKEAWAY_DINEIN,NaN,FOOD,GRAB,26.0,"""Dessert""","""Vegetarian""]","[""Indian""",None,None
16134,4-C2AHJVATN7C2RE,Albismi Indian Muslim Food,Albismi Indian Muslim Food - Woodlands Road,Singapore,NaN,NaN,1.396885,103.753440,"{""displayedHours"": ""Closed"", ""sun"": ""09:00-22:...",https://d1sag4ddilekf6.cloudfront.net/compress...,...,DELIVERY_TAKEAWAY,NaN,FOOD,GRAB,30.0,"[""Indian""]",None,None,None,None
16135,4-C2DXFEK2R6KJTJ,Zam Zam Indian Special Food,Zam Zam Indian Special Food - Yishun Industria...,Singapore,NaN,NaN,1.441651,103.831330,"{""displayedHours"": ""Closed"", ""sun"": ""Closed"", ...",https://d1sag4ddilekf6.cloudfront.net/compress...,...,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...,FOOD,GRAB,27.0,"[""Indian""]",None,None,None,None

### Checking commonality in the grouping to see if we can clean further

In [ ]:
#check commonlity

# Specify selected columns
selected_columns = ['cuisine_1', 'cuisine_2', 'cuisine_3', 'cuisine_4', 'cuisine_5']
# Apply value_counts function to each column and calculate commonality
commonality = cuisine_df[selected_columns].apply(pd.Series.value_counts, axis=1).fillna(0).sum().astype(int)

print(commonality)

"1 MICHELIN Star"     5
"1 MICHELIN Star"]    6
"2 MICHELIN Stars"    1
"Accessories"         1
"Accessories"]        1
                     ..
["Yogurt"             3
["test"               1
beverages             1
korean                1
thai                  1
Length: 690, dtype: int32

Further cleaning to group certain category like michelin star, alcohol and etc

In [ ]:
# further cleaning to change 2 michelin star to 1 michelin star

# Find rows where any of the selected columns contain '2 michelin stars'
rows_to_replace = cuisine_df[selected_columns].apply(lambda x: x.str.contains('2 michelin stars')).any(axis=1)
# Replace '2 michelin stars' with 'michelin star'
cuisine_df.loc[rows_to_replace, selected_columns] = cuisine_df[selected_columns].replace('2 michelin stars', '1 michelin star')

# further cleaning to change 1 michelin star to michelin star
rows_to_replace = cuisine_df[selected_columns].apply(lambda x: x.str.contains('1 michelin star')).any(axis=1)
# Replace '2 michelin stars' with 'michelin star'
cuisine_df.loc[rows_to_replace, selected_columns] = cuisine_df[selected_columns].replace('1 michelin star', 'michelin star')

# further cleaning to change michelin guide to michelin star
rows_to_replace = cuisine_df[selected_columns].apply(lambda x: x.str.contains('michelin guide')).any(axis=1)
# Replace '2 michelin stars' with 'michelin star'
cuisine_df.loc[rows_to_replace, selected_columns] = cuisine_df[selected_columns].replace('michelin guide', 'michelin star')

#further cleanin alcoholic beverages to just alcohol
rows_to_replace = cuisine_df[selected_columns].apply(lambda x: x.str.contains('alcoholic beverages')).any(axis=1)
# Replace 'alcoholic beverages' with 'alcohol'
cuisine_df.loc[rows_to_replace, selected_columns] = cuisine_df[selected_columns].replace('alcoholic beverages', 'alcohol')

#to group and count each unique value of cuisine column
# Apply value_counts function to each column and calculate commonality
commonality = cuisine_df[selected_columns].apply(pd.Series.value_counts, axis=1).fillna(0).sum().astype(int)

# Sort commonality counts from biggest to smallest
commonality_sort_values = commonality.sort_values(ascending=False)

# Sort commonality counts alphabetically
commonality_sort_alpha = commonality.sort_index()

In [ ]:
cuisine_df.head()

NameError: name 'cuisine_df' is not defined

### Adding to a Database Grab_df : CUISINE_TBL - HASSAN

In [ ]:
from sqlalchemy import create_engine
username='postgres'
password = 'admin'
hostname = 'localhost'
port = 5432
database = 'grab_db'

db_url = f'postgresql://{username}:{password}@{hostname}:{port}/{database}'

#create a connection to the database
#engine = create_engine('postgresql://postgres:admin@localhost:5432/grab_db')
engine = create_engine(db_url)


# Create a new cuisine table
commands = ('''Create TABLE IF NOT EXISTS cuisine_tbl(cuisine_id VARCHAR PRIMARY KEY,
                                                id_source VARCHAR,
                                                streaming_service VARCHAR,
                                                cuisine_1 VARCHAR,
                                                cuisine_2 VARCHAR,
                                                cuisine_3 VARCHAR,
                                                cuisine_4 VARCHAR,
                                                cuisine_5 VARCHAR,
                                                );''')

# Step 9: Copy the data to the PostgreSQL table
cuisine_df.to_sql('cuisine_tbl', engine, if_exists='replace', index=False)

136

### establishment opening hours dataframe - LEE HONG ENG

### Creating grab_df and subsetting opening hours column

In [ ]:
grab_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16136 entries, 0 to 16135
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_source         16136 non-null  object
 1   name              16130 non-null  object
 2   address           16136 non-null  object
 3   country           16136 non-null  object
 4   cuisine           16136 non-null  object
 5   currency          16117 non-null  object
 6   delivery_cost     16085 non-null  float64
 7   lat               16136 non-null  float64
 8   lon               16136 non-null  float64
 9   opening_hours     16136 non-null  object
 10  image_url         16125 non-null  object
 11  radius            16136 non-null  int64
 12  rating            14004 non-null  float64
 13  reviews_nr        13602 non-null  float64
 14  delivery_options  16136 non-null  object
 15  promo             8777 non-null   object
 16  loc_type          16136 non-null  object
 17  delivery_by       16136 non-null  object
 18  delivery_time     15953 non-null  float64
dtypes: float64(6), int64(1), object(12)
memory usage: 2.3+ MB

In [ ]:
import pandas as pd

# transferring master_df into grab_df - at the initial i have transferred from master
#grab_df = master_df

# subset openinghour df with records being dictionaries
op_hours_dict_df = grab_df[["opening_hours"]]

op_hours_dict_df.head()

                                       opening_hours
0  {"open": true, "displayedHours": "10:30-21:30"...
1  {"open": true, "displayedHours": "12:00-19:00"...
2  {"open": true, "displayedHours": "11:30-20:45"...
3  {"open": true, "displayedHours": "11:00-21:00"...
4  {"open": true, "displayedHours": "10:30-21:00"...

#### Cleaning the column of dictionaries

In [ ]:
# replacing " " in the dictionary to ' '
op_hours_dict_df = op_hours_dict_df['opening_hours'].str.replace('"',"'")
op_hours_dict_df = pd.DataFrame(op_hours_dict_df)

# replacing 'true' to 'True'
op_hours_dict_df = op_hours_dict_df['opening_hours'].str.replace('true',"'True'")
op_hours_dict_df = pd.DataFrame(op_hours_dict_df)

print(op_hours_dict_df)
print(type(op_hours_dict_df))

                                           opening_hours
0      {'open': 'True', 'displayedHours': '10:30-21:3...
1      {'open': 'True', 'displayedHours': '12:00-19:0...
2      {'open': 'True', 'displayedHours': '11:30-20:4...
3      {'open': 'True', 'displayedHours': '11:00-21:0...
4      {'open': 'True', 'displayedHours': '10:30-21:0...
...                                                  ...
16131  {'displayedHours': 'Closed', 'sun': 'Closed', ...
16132  {'displayedHours': 'Closed', 'sun': '12:00-14:...
16133  {'displayedHours': 'Closed', 'sun': '11:00-22:...
16134  {'displayedHours': 'Closed', 'sun': '09:00-22:...
16135  {'displayedHours': 'Closed', 'sun': 'Closed', ...

[16136 rows x 1 columns]
<class 'pandas.core.frame.DataFrame'>

#### Splitting the dictionaries into separate columns in a dataframe

In [ ]:
import ast
from pandas import json_normalize

# Ensure that the column is in a proper list of dictionaries format
op_hours_dict_df['opening_hours'] = op_hours_dict_df['opening_hours'].apply(ast.literal_eval)

# Use json_normalize to convert the dictionaries into separate columns
op_hours_dict_df_expanded = op_hours_dict_df.join(json_normalize(op_hours_dict_df['opening_hours'])).drop('opening_hours', axis=1)

print(op_hours_dict_df_expanded)

       open displayedHours                      sun                      mon  \
0      True    10:30-21:30              10:30-21:30              10:30-21:15
1      True    12:00-19:00              12:00-19:00              12:00-19:00
2      True    11:30-20:45              11:30-20:45              11:30-20:45
3      True    11:00-21:00              11:00-21:00              11:00-21:00
4      True    10:30-21:00              11:00-21:30              11:00-21:30
...     ...            ...                      ...                      ...
16131   NaN         Closed                   Closed              07:00-13:00
16132   NaN         Closed  12:00-14:00 17:30-21:30  12:00-14:00 17:30-21:30
16133   NaN         Closed              11:00-22:15  11:00-14:45 18:00-22:15
16134   NaN         Closed              09:00-22:00              06:30-22:00
16135   NaN         Closed                   Closed              07:00-15:00

                           tue                      wed  \
0                  10:30-21:15              10:30-21:15
1                  12:00-19:00              12:00-19:00
2                  11:30-20:45              11:30-20:45
3                  11:00-21:00              11:00-21:00
4                  11:00-21:30              11:00-21:30
...                        ...                      ...
16131                   Closed                   Closed
16132  12:00-14:00 17:30-21:30  12:00-14:00 17:30-21:30
16133                   Closed  11:00-14:45 18:00-22:15
16134              06:30-22:00              06:30-22:00
16135              07:00-15:00              07:00-15:00

                           thu          fri          sat tempClosed
0                  10:30-21:15  10:30-21:15  10:30-21:30        NaN
1                  12:00-19:00  12:00-19:00  12:00-19:00        NaN
2                  11:30-20:45  11:30-20:45  11:30-20:45        NaN
3                  11:00-21:00  11:00-21:00  11:00-21:00        NaN
4                  11:00-21:30  11:00-21:30  11:00-21:30        NaN
...                        ...          ...          ...        ...
16131                   Closed       Closed       Closed       True
16132  12:00-14:00 17:30-21:30  12:00-14:00  12:00-14:00        NaN
16133  11:00-14:45 18:00-22:15  11:00-22:45  11:00-22:45        NaN
16134              06:30-22:00  06:30-22:00  06:30-22:00        NaN
16135              07:00-15:00  07:00-15:00  07:00-15:00        NaN

[16136 rows x 10 columns]

#### Joining id_source column from grab_df to op_hours_dict_df_expanded

In [ ]:
# Joining id_source column from grab_df to op_hours_dict_df_expanded
openinghour_df = pd.concat([grab_df[["id_source"]], op_hours_dict_df_expanded], axis=1, sort=False)
                  
print(openinghour_df)

              id_source  open displayedHours                      sun  \
0             SGDD01085  True    10:30-21:30              10:30-21:30
1      4-CYTDLPUJEP53N6  True    12:00-19:00              12:00-19:00
2             SGDD05605  True    11:30-20:45              11:30-20:45
3             SGDD07548  True    11:00-21:00              11:00-21:00
4      4-CY2ZLZLTT2EDJ2  True    10:30-21:00              11:00-21:30
...                 ...   ...            ...                      ...
16131  4-CZNFTYKKVA3UN2   NaN         Closed                   Closed
16132         SGDD01192   NaN         Closed  12:00-14:00 17:30-21:30
16133         SGDD00961   NaN         Closed              11:00-22:15
16134  4-C2AHJVATN7C2RE   NaN         Closed              09:00-22:00
16135  4-C2DXFEK2R6KJTJ   NaN         Closed                   Closed

                           mon                      tue  \
0                  10:30-21:15              10:30-21:15
1                  12:00-19:00              12:00-19:00
2                  11:30-20:45              11:30-20:45
3                  11:00-21:00              11:00-21:00
4                  11:00-21:30              11:00-21:30
...                        ...                      ...
16131              07:00-13:00                   Closed
16132  12:00-14:00 17:30-21:30  12:00-14:00 17:30-21:30
16133  11:00-14:45 18:00-22:15                   Closed
16134              06:30-22:00              06:30-22:00
16135              07:00-15:00              07:00-15:00

                           wed                      thu          fri  \
0                  10:30-21:15              10:30-21:15  10:30-21:15
1                  12:00-19:00              12:00-19:00  12:00-19:00
2                  11:30-20:45              11:30-20:45  11:30-20:45
3                  11:00-21:00              11:00-21:00  11:00-21:00
4                  11:00-21:30              11:00-21:30  11:00-21:30
...                        ...                      ...          ...
16131                   Closed                   Closed       Closed
16132  12:00-14:00 17:30-21:30  12:00-14:00 17:30-21:30  12:00-14:00
16133  11:00-14:45 18:00-22:15  11:00-14:45 18:00-22:15  11:00-22:45
16134              06:30-22:00              06:30-22:00  06:30-22:00
16135              07:00-15:00              07:00-15:00  07:00-15:00

               sat tempClosed
0      10:30-21:30        NaN
1      12:00-19:00        NaN
2      11:30-20:45        NaN
3      11:00-21:00        NaN
4      11:00-21:30        NaN
...            ...        ...
16131       Closed       True
16132  12:00-14:00        NaN
16133  11:00-22:45        NaN
16134  06:30-22:00        NaN
16135  07:00-15:00        NaN

[16136 rows x 11 columns]

#### Adding index column with prefix

In [ ]:
# Create a new index column and add a prefix
openinghour_df['openinghour_id'] = 'op_' + (openinghour_df.index + 1).astype(str)

# Set new index column to be the first column
openinghour_df = openinghour_df.set_index('openinghour_id').reset_index()

print(openinghour_df)

      openinghour_id         id_source  open displayedHours  \
0               op_1         SGDD01085  True    10:30-21:30
1               op_2  4-CYTDLPUJEP53N6  True    12:00-19:00
2               op_3         SGDD05605  True    11:30-20:45
3               op_4         SGDD07548  True    11:00-21:00
4               op_5  4-CY2ZLZLTT2EDJ2  True    10:30-21:00
...              ...               ...   ...            ...
16131       op_16132  4-CZNFTYKKVA3UN2   NaN         Closed
16132       op_16133         SGDD01192   NaN         Closed
16133       op_16134         SGDD00961   NaN         Closed
16134       op_16135  4-C2AHJVATN7C2RE   NaN         Closed
16135       op_16136  4-C2DXFEK2R6KJTJ   NaN         Closed

                           sun                      mon  \
0                  10:30-21:30              10:30-21:15
1                  12:00-19:00              12:00-19:00
2                  11:30-20:45              11:30-20:45
3                  11:00-21:00              11:00-21:00
4                  11:00-21:30              11:00-21:30
...                        ...                      ...
16131                   Closed              07:00-13:00
16132  12:00-14:00 17:30-21:30  12:00-14:00 17:30-21:30
16133              11:00-22:15  11:00-14:45 18:00-22:15
16134              09:00-22:00              06:30-22:00
16135                   Closed              07:00-15:00

                           tue                      wed  \
0                  10:30-21:15              10:30-21:15
1                  12:00-19:00              12:00-19:00
2                  11:30-20:45              11:30-20:45
3                  11:00-21:00              11:00-21:00
4                  11:00-21:30              11:00-21:30
...                        ...                      ...
16131                   Closed                   Closed
16132  12:00-14:00 17:30-21:30  12:00-14:00 17:30-21:30
16133                   Closed  11:00-14:45 18:00-22:15
16134              06:30-22:00              06:30-22:00
16135              07:00-15:00              07:00-15:00

                           thu          fri          sat tempClosed
0                  10:30-21:15  10:30-21:15  10:30-21:30        NaN
1                  12:00-19:00  12:00-19:00  12:00-19:00        NaN
2                  11:30-20:45  11:30-20:45  11:30-20:45        NaN
3                  11:00-21:00  11:00-21:00  11:00-21:00        NaN
4                  11:00-21:30  11:00-21:30  11:00-21:30        NaN
...                        ...          ...          ...        ...
16131                   Closed       Closed       Closed       True
16132  12:00-14:00 17:30-21:30  12:00-14:00  12:00-14:00        NaN
16133  11:00-14:45 18:00-22:15  11:00-22:45  11:00-22:45        NaN
16134              06:30-22:00  06:30-22:00  06:30-22:00        NaN
16135              07:00-15:00  07:00-15:00  07:00-15:00        NaN

[16136 rows x 12 columns]

In [ ]:
import numpy as np

# Count no. of NaN in dataframe
nan_count = openinghour_df.isna().sum().sum()

print(f'Total number of NaN values in the DataFrame: {nan_count}')

Total number of NaN values in the DataFrame: 21830

In [ ]:
# Number of NaN values for each column
nan_count_per_column_df = openinghour_df.isna().sum()

print(nan_count_per_column_df)

openinghour_id        0
id_source             0
open               8981
displayedHours        0
sun                   0
mon                   0
tue                   0
wed                   0
thu                   0
fri                   0
sat                   0
tempClosed        12849
dtype: int64

In [ ]:
# No. of establishment minus no. of tempClosed equals 'NaN'
count_open = 16136-12849
print(count_open)

3287

In [ ]:
# Create a new DataFrame based on the condition Open=NaN and tempClosed=True
opennull_tempclosetrue = openinghour_df[pd.isna(openinghour_df['open']) & (openinghour_df['tempClosed'] == 'True')]

print('Total no. of rows of tempClosed establishment = ' + str(len(opennull_tempclosetrue)))

Total no. of rows of tempClosed establishment = 3287

In [ ]:
# Create a new DataFrame based on the condition tempClosed=True
tempclosedtrue = openinghour_df[pd.isna(openinghour_df['tempClosed'])]

print('Total no. of rows of (tempClosed is NaN) establishment = ' + str(len(tempclosedtrue)))

Total no. of rows of (tempClosed is NaN) establishment = 12849

In [ ]:
# Create a new DataFrame based on the condition open=NaN
opentrue = openinghour_df[(openinghour_df['open'] == 'True')]

print('Total no. of rows of (open == "True") establishment = ' + str(len(opentrue)))

Total no. of rows of (open == "True") establishment = 7155

### There are 12849 - 7155 = 5694 establishment with  open==NaN and tempClosed==NaN

In [ ]:
12849-7155

5694

In [ ]:
# Create a new DataFrame based on the condition open=NaN and tempClosed=NaN
opennull_tempClosednull = openinghour_df[pd.isna(openinghour_df['open']) & pd.isna(openinghour_df['tempClosed'])]

print('Total no. of rows of (open == "NaN" and tempClosed == "NaN") establishment = ' + str(len(opennull_tempClosednull)))
print(opennull_tempClosednull.head())
print(type(opennull_tempClosednull))

Total no. of rows of (open == "NaN" and tempClosed == "NaN") establishment = 5694
    openinghour_id         id_source open displayedHours  \
351         op_352  4-CY22C4LVJNAJL2  NaN         Closed
363         op_364  4-CY4GN2MGHF3JCA  NaN         Closed
364         op_365  4-CZDVVZKBRTVTBE  NaN         Closed
371         op_372  4-CZKER762C62GRN  NaN         Closed
372         op_373         SGDD02751  NaN         Closed

                         sun                      mon  \
351  11:00-16:55 17:00-20:45                   Closed
363              11:30-20:00              11:30-20:00
364  12:00-14:30 17:00-20:15  12:00-14:30 17:00-20:15
371                   Closed              10:00-13:00
372              10:00-20:00              10:00-20:00

                         tue                      wed  \
351                   Closed                   Closed
363              11:30-20:00              11:30-20:00
364  12:00-14:30 17:00-20:15  12:00-14:30 17:00-20:15
371              10:00-13:00              10:00-13:00
372              10:00-20:00              10:00-20:00

                         thu                      fri  \
351                   Closed                   Closed
363              11:30-20:00              11:30-20:00
364  12:00-14:30 17:00-20:15  12:00-14:30 17:00-20:15
371              10:00-13:00              10:00-13:00
372              10:00-20:00              10:00-20:00

                         sat tempClosed
351                   Closed        NaN
363              11:30-20:00        NaN
364  12:00-14:30 17:00-20:15        NaN
371              10:00-13:00        NaN
372              10:00-20:00        NaN
<class 'pandas.core.frame.DataFrame'>

In [ ]:
#Subsetting grab_df with address and id_source
grab_df[["address","id_source"]].head()

                      address         id_source
0    Texas Chicken - VivoCity         SGDD01085
1           Subway - Vivocity  4-CYTDLPUJEP53N6
2        LiHO Tea - Vivo City         SGDD05605
3         Wingstop - VivoCity         SGDD07548
4  Le Shrimp Ramen - Vivocity  4-CY2ZLZLTT2EDJ2

In [ ]:
# Performing an inner join on the 'id_source' column to include 'address' column to opennull_tempClosednull
#syntax for .merge >> inner_joined_df = df1.merge(df2, on='key', how='inner')

opennull_tempClosednull_address = grab_df[["address","id_source"]].merge(opennull_tempClosednull, on='id_source', how='inner')
opennull_tempClosednull_address.head()

,address,id_source,openinghour_id,open,displayedHours,sun,mon,tue,wed,thu,fri,sat,tempClosed
0,Alijiang - Vivocity,4-CY22C4LVJNAJL2,op_352,NaN,Closed,11:00-16:55 17:00-20:45,Closed,Closed,Closed,Closed,Closed,Closed,NaN
1,Bottles & Bottles - Vivocity,4-CY4GN2MGHF3JCA,op_364,NaN,Closed,11:30-20:00,11:30-20:00,11:30-20:00,11:30-20:00,11:30-20:00,11:30-20:00,11:30-20:00,NaN
2,Royal Taj - Mess Hall - Village Hotel,4-CZDVVZKBRTVTBE,op_365,NaN,Closed,12:00-14:30 17:00-20:15,12:00-14:30 17:00-20:15,12:00-14:30 17:00-20:15,12:00-14:30 17:00-20:15,12:00-14:30 17:00-20:15,12:00-14:30 17:00-20:15,12:00-14:30 17:00-20:15,NaN
3,Kheng Nam Lee Curry Rice - Seah Im Food Centre,4-CZKER762C62GRN,op_372,NaN,Closed,Closed,10:00-13:00,10:00-13:00,10:00-13:00,10:00-13:00,10:00-13:00,10:00-13:00,NaN
4,A-One Claypot House - VivoCity,SGDD02751,op_373,NaN,Closed,10:00-20:00,10:00-20:00,10:00-20:00,10:00-20:00,10:00-20:00,10:00-20:00,10:00-20:00,NaN

### Based checking on first 5 establishments at time of interim project, they are currently opened, meaning they were not permanently closed at time of dataset. Therefore, for sake of analysis in our project, it is assumed that all entries with open=NaN and tempClosed=NaN are not closed permanently and therefore included in the analysis of the dataset.

#### Replacing open=NaN to True and tempClosed=NaN to False for rows with open=NaN & tempClosed=NaN

In [ ]:
# Conditionally fill NaN values in open with 'True' and in tempClosed with 'False'
openinghour_df.loc[openinghour_df['open'].isna() & openinghour_df['tempClosed'].isna(), ['open', 'tempClosed']] = [True, False]

#to check filling of NaN values for open=NaN and tempClosed=NaN 
openinghour_df.iloc[351]

openinghour_id                     op_352
id_source                4-CY22C4LVJNAJL2
open                                 True
displayedHours                     Closed
sun               11:00-16:55 17:00-20:45
mon                                Closed
tue                                Closed
wed                                Closed
thu                                Closed
fri                                Closed
sat                                Closed
tempClosed                          False
Name: 351, dtype: object

#### For open=true and tempClosed=NaN, replace tempClosed=NaN to False
#### For open=NaN and tempClosed=true, replace open=NaN to False
#### For any of the days not = 'Closed', replace open to True and tempClosed to False

In [ ]:
# Conditionally fill NaN values in tempClosed with 'False'
openinghour_df.loc[openinghour_df['tempClosed'].isna(), ['tempClosed']] = ['False']

# Conditionally fill NaN values in open with 'False'
openinghour_df.loc[openinghour_df['open'].isna(), ['open']] = ['False']

# Update 'open' to True and 'tempClosed' to False where any of the days are not = 'Closed'
openinghour_df.loc[(openinghour_df['displayedHours'] != 'closed') 
                     | (openinghour_df['sun'] != 'Closed') 
                     | (openinghour_df['mon'] != 'Closed')
                     | (openinghour_df['tue'] != 'Closed') 
                     | (openinghour_df['wed'] != 'Closed')
                     | (openinghour_df['thu'] != 'Closed') 
                     | (openinghour_df['fri'] != 'Closed')
                     | (openinghour_df['sat'] != 'Closed') 
                     , ['open', 'tempClosed']] = [True, False]

openinghour_df.tail()

,openinghour_id,id_source,open,displayedHours,sun,mon,tue,wed,thu,fri,sat,tempClosed
16131,op_16132,4-CZNFTYKKVA3UN2,True,Closed,Closed,07:00-13:00,Closed,Closed,Closed,Closed,Closed,False
16132,op_16133,SGDD01192,True,Closed,12:00-14:00 17:30-21:30,12:00-14:00 17:30-21:30,12:00-14:00 17:30-21:30,12:00-14:00 17:30-21:30,12:00-14:00 17:30-21:30,12:00-14:00,12:00-14:00,False
16133,op_16134,SGDD00961,True,Closed,11:00-22:15,11:00-14:45 18:00-22:15,Closed,11:00-14:45 18:00-22:15,11:00-14:45 18:00-22:15,11:00-22:45,11:00-22:45,False
16134,op_16135,4-C2AHJVATN7C2RE,True,Closed,09:00-22:00,06:30-22:00,06:30-22:00,06:30-22:00,06:30-22:00,06:30-22:00,06:30-22:00,False
16135,op_16136,4-C2DXFEK2R6KJTJ,True,Closed,Closed,07:00-15:00,07:00-15:00,07:00-15:00,07:00-15:00,07:00-15:00,07:00-15:00,False

#### 9 establishment where displayedHours and all days are = 'Closed'

# should we drop this 9 rows? some are mix n match, some arenot closed on google. MAYBE, they not using grab anymore?

In [ ]:
#displaying rows where displayedHours and all days are = 'Closed'
all_closed = openinghour_df[(openinghour_df['displayedHours'] == 'Closed')
                             & (openinghour_df['sun'] == 'Closed') 
                             & (openinghour_df['mon'] == 'Closed')
                             & (openinghour_df['tue'] == 'Closed') 
                             & (openinghour_df['wed'] == 'Closed')
                             & (openinghour_df['thu'] == 'Closed') 
                             & (openinghour_df['fri'] == 'Closed')
                             & (openinghour_df['sat'] == 'Closed')] 
                     
# Update 'open' to False and 'tempClosed' to True where displayedHours and all days are = 'Closed'
print(len(all_closed))

all_closed_address = grab_df[["address","id_source"]].merge(all_closed, on='id_source', how='inner')
print(all_closed_address)

9
                                             address         id_source  \
0                 FOODQA-BJ_SG's Sea Resto GKMM Mart  4-CZEXEPEWN6KKEN
1             Mix & Match Malls (Food) - Jurong East  4-C2CXV7CFKA4FWA
2     Heng Kee Bak Kut Teh & Kway Chap - Tradehub 21  4-CY42TJB2CVEZEA
3          Mix & Match Malls (Food) - Jurong Gateway  4-C2DTNY4JUETHLX
4                     Monti A Casa - Botanic Gardens  4-CZDGPAEGT22ERT
5  Jewel Changi Airport L1 and L2 - Mix & Match -...  4-CZJZV4JFC6EXRA
6                      Changi Airport T3 Mix & Match  4-CZM1EUBUVUD3AX
7  Jewel Changi Airport B1 and B2 - Mix & Match -...  4-C2CVJXAEC2B1EX
8                     Sin Cuisine - Cheng San Centre  4-CZD1AP61NJWBJX

  openinghour_id  open displayedHours     sun     mon     tue     wed     thu  \
0        op_1032  True         Closed  Closed  Closed  Closed  Closed  Closed
1        op_4907  True         Closed  Closed  Closed  Closed  Closed  Closed
2        op_5182  True         Closed  Closed  Closed  Closed  Closed  Closed
3        op_5404  True         Closed  Closed  Closed  Closed  Closed  Closed
4        op_5434  True         Closed  Closed  Closed  Closed  Closed  Closed
5        op_7544  True         Closed  Closed  Closed  Closed  Closed  Closed
6        op_7892  True         Closed  Closed  Closed  Closed  Closed  Closed
7        op_7976  True         Closed  Closed  Closed  Closed  Closed  Closed
8       op_12966  True         Closed  Closed  Closed  Closed  Closed  Closed

      fri     sat tempClosed
0  Closed  Closed      False
1  Closed  Closed      False
2  Closed  Closed      False
3  Closed  Closed      False
4  Closed  Closed      False
5  Closed  Closed      False
6  Closed  Closed      False
7  Closed  Closed      False
8  Closed  Closed      False

## CREATING table in database GRAB_DB: openinghour - LEE HONG ENG

In [ ]:
from sqlalchemy import create_engine

username='postgres'
password = 'admin'
hostname = 'localhost'
port = 5432
database = 'grab_db'

engine = f'postgresql://{username}:{password}@{hostname}:{port}/{database}'

# Creating connection to grab_db - amend the password accordingly
#engine = create_engine('postgresql://postgres:interim@localhost:5432/grab_db')

# Send dataframe to database as a table
openinghour_df.to_sql('openinghour', engine, if_exists='replace', index=False)

136

# ROSNI

# transforming data to put in delivery_df

In [ ]:
grab_rest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16136 entries, 0 to 16135
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_source         16136 non-null  object
 1   name              16130 non-null  object
 2   address           16136 non-null  object
 3   country           16136 non-null  object
 4   cuisine           16134 non-null  object
 5   currency          16117 non-null  object
 6   delivery_cost     16085 non-null  float64
 7   lat               16136 non-null  float64
 8   lon               16136 non-null  float64
 9   opening_hours     16136 non-null  object
 10  image_url         16125 non-null  object
 11  radius            16136 non-null  int64
 12  rating            14004 non-null  float64
 13  reviews_nr        13602 non-null  float64
 14  delivery_options  16136 non-null  object
 15  promo             8777 non-null   object
 16  loc_type          16136 non-null  object
 17  delivery_by       16136 non-null  object
 18  delivery_time     15953 non-null  float64
dtypes: float64(6), int64(1), object(12)
memory usage: 2.3+ MB

In [ ]:
#Details of delivery_df:(ROSNI)
#id_source,delivery_cost, radius, delivery_options, promo 
delivery = grab_rest[['id_source','delivery_cost','radius','delivery_options','promo']]
delivery
#this is the delivery table with rows containing NaN values under promo column

,id_source,delivery_cost,radius,delivery_options,promo
0,SGDD01085,570.0,5000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...
1,4-CYTDLPUJEP53N6,570.0,3000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...
2,SGDD05605,560.0,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...
3,SGDD07548,560.0,5000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...
4,4-CY2ZLZLTT2EDJ2,570.0,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...
...,...,...,...,...,...
16131,4-CZNFTYKKVA3UN2,NaN,5000,DELIVERY_TAKEAWAY,NaN
16132,SGDD01192,NaN,3000,DELIVERY_TAKEAWAY,NaN
16133,SGDD00961,560.0,3000,DELIVERY_TAKEAWAY_DINEIN,NaN
16134,4-C2AHJVATN7C2RE,NaN,5000,DELIVERY_TAKEAWAY,NaN
16135,4-C2DXFEK2R6KJTJ,NaN,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...

In [ ]:
#listing the name of columns in delivery data frame
delivery.columns

Index(['id_source', 'delivery_cost', 'radius', 'delivery_options', 'promo'], dtype='object')

In [ ]:
delivery.describe()

       delivery_cost        radius
count   16085.000000  16136.000000
mean      984.926640   6871.493183
std       656.544752   6170.013565
min       199.000000    578.000000
25%       450.000000   4999.000000
50%       680.000000   5000.000000
75%      1610.000000   5000.000000
max     14000.000000  25000.000000

In [ ]:
#copying all the contents of the table "delivery" and assigning the name "delivery_1" 
delivery_1=delivery.copy()
#to delivery_1 adding extra column named delivery_cost_sds with value =delivery_cost/100
delivery_1['delivery_cost_sds']=delivery['delivery_cost']/100
delivery_1

,id_source,delivery_cost,radius,delivery_options,promo,delivery_cost_sds
0,SGDD01085,570.0,5000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...,5.7
1,4-CYTDLPUJEP53N6,570.0,3000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...,5.7
2,SGDD05605,560.0,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...,5.6
3,SGDD07548,560.0,5000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...,5.6
4,4-CY2ZLZLTT2EDJ2,570.0,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...,5.7
...,...,...,...,...,...,...
16131,4-CZNFTYKKVA3UN2,NaN,5000,DELIVERY_TAKEAWAY,NaN,NaN
16132,SGDD01192,NaN,3000,DELIVERY_TAKEAWAY,NaN,NaN
16133,SGDD00961,560.0,3000,DELIVERY_TAKEAWAY_DINEIN,NaN,5.6
16134,4-C2AHJVATN7C2RE,NaN,5000,DELIVERY_TAKEAWAY,NaN,NaN
16135,4-C2DXFEK2R6KJTJ,NaN,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...,NaN

In [ ]:
#selecting only the required columns to make a new df
delivery_df= delivery_1[['id_source','delivery_cost_sds','radius','delivery_options','promo']]
delivery_df

,id_source,delivery_cost_sds,radius,delivery_options,promo
0,SGDD01085,5.7,5000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...
1,4-CYTDLPUJEP53N6,5.7,3000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...
2,SGDD05605,5.6,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...
3,SGDD07548,5.6,5000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...
4,4-CY2ZLZLTT2EDJ2,5.7,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...
...,...,...,...,...,...
16131,4-CZNFTYKKVA3UN2,NaN,5000,DELIVERY_TAKEAWAY,NaN
16132,SGDD01192,NaN,3000,DELIVERY_TAKEAWAY,NaN
16133,SGDD00961,5.6,3000,DELIVERY_TAKEAWAY_DINEIN,NaN
16134,4-C2AHJVATN7C2RE,NaN,5000,DELIVERY_TAKEAWAY,NaN
16135,4-C2DXFEK2R6KJTJ,NaN,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...

In [ ]:
##delivery_promo = delivery_df['promo']
#delivery_promo['promo'].fillna ("No promotion", inplace= True)
# this code didnt work. so trying again
# for thiscode delivery_promo =delivery_df[['promo']]
#error message---C:\Users\Ros\AppData\Local\Temp\ipykernel_31724\4246233546.py:7: SettingWithCopyWarning: 
#A value is trying to be set on a copy of a slice from a DataFrame
#See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

#so i converted the delivery_promo table to df
delivery_promo = pd.DataFrame({'promo': delivery_df['promo']})

delivery_promo['promo'].fillna("No Promotion available", inplace= True)
delivery_promo

C:\Users\T470\AppData\Local\Temp\ipykernel_29288\108337425.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  delivery_promo['promo'].fillna("No Promotion available", inplace= True)

                                                   promo
0      Use 'TEATIME' for FREE delivery between 3PM to...
1      Use 'TEATIME' for FREE delivery between 3PM to...
2      Use 'TEATIME' for FREE delivery between 3PM to...
3      Use 'TEATIME' for FREE delivery between 3PM to...
4      Use 'TEATIME' for FREE delivery between 3PM to...
...                                                  ...
16131                             No Promotion available
16132                             No Promotion available
16133                             No Promotion available
16134                             No Promotion available
16135  Use 'TEATIME' for FREE delivery between 3PM to...

[16136 rows x 1 columns]

delivery_promo = pd.DataFrame({'promo': delivery_promo['promo']}): This line creates a new df by calling the pd.DataFrame() constructor. It takes a dictionary as an argument, where the keys are the column names and the values are the column data. In this case, the dictionary has a single key-value pair where the key is 'promo' (the name of the column) and the value is delivery_promo['promo']. This extracts the 'promo' column from the existing DataFrame delivery_promo and creates a new DataFrame with a single column named 'promo'.Essentially, this line of code is used to isolate the 'promo' column from the original DataFrame and create a new DataFrame with just that column. This step may be necessary to perform operations specifically on the 'promo' column without affecting the original DataFrame structure

In [ ]:

# Using .loc to modify the original DataFrame without triggering the warning
delivery_df.loc[:, 'promo'] = delivery_promo['promo']
delivery_df

,id_source,delivery_cost_sds,radius,delivery_options,promo
0,SGDD01085,5.7,5000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...
1,4-CYTDLPUJEP53N6,5.7,3000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...
2,SGDD05605,5.6,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...
3,SGDD07548,5.6,5000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...
4,4-CY2ZLZLTT2EDJ2,5.7,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...
...,...,...,...,...,...
16131,4-CZNFTYKKVA3UN2,NaN,5000,DELIVERY_TAKEAWAY,No Promotion available
16132,SGDD01192,NaN,3000,DELIVERY_TAKEAWAY,No Promotion available
16133,SGDD00961,5.6,3000,DELIVERY_TAKEAWAY_DINEIN,No Promotion available
16134,4-C2AHJVATN7C2RE,NaN,5000,DELIVERY_TAKEAWAY,No Promotion available
16135,4-C2DXFEK2R6KJTJ,NaN,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...

In [ ]:
delivery_df.info()
#from this we can understand the delivery_cost_sds column has 16085 non-null values.The remaining 51 ROWS are null or NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16136 entries, 0 to 16135
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id_source          16136 non-null  object
 1   delivery_cost_sds  16085 non-null  float64
 2   radius             16136 non-null  int64
 3   delivery_options   16136 non-null  object
 4   promo              16136 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 630.4+ KB

In [ ]:
# Using isna() method to create a boolean mask for NaN values
nan_mask = delivery_df.isna().any(axis=1)

# Filter the DataFrame to select rows with NaN values
rows_with_nan = delivery_df[nan_mask]

# Display the rows with NaN values
print(rows_with_nan)

              id_source  delivery_cost_sds  radius   delivery_options  \
623    4-CZDWKEXJV7EYNN                NaN   25000  DELIVERY_TAKEAWAY
647    4-C2MTV33CJZLUSE                NaN   25000      ONLY_DELIVERY
893    4-CZKKEBUFAFKGCX                NaN   10000      ONLY_DELIVERY
993    4-CZKKEBWJAJWCR2                NaN   15000      ONLY_DELIVERY
1009   4-C2KTCUK1PE22CT                NaN   25000      ONLY_DELIVERY
1039   4-C2NZNF6YLTL3PE                NaN   10000      ONLY_DELIVERY
1043   4-C2TVNK62ELN3KE                NaN   25000      ONLY_DELIVERY
1146   4-CZDWKEXCPB31RT                NaN   25000  DELIVERY_TAKEAWAY
2165   4-CZC2APLUCNTWN2                NaN    2500  DELIVERY_TAKEAWAY
2176   4-CZD3RK6TGUKJDE                NaN   25000  DELIVERY_TAKEAWAY
2232   4-C2T2JRLYLXWXR2                NaN    4000      ONLY_DELIVERY
3831   4-C2T2J62YNPNBGT                NaN   25000  DELIVERY_TAKEAWAY
4247   4-CZE1VPUUGGE1JT                NaN   25000  DELIVERY_TAKEAWAY
4284   4-C2L2A2JECA4ETN                NaN   25000      ONLY_DELIVERY
4374   4-C2LXKF61AF3ANN                NaN   25000      ONLY_DELIVERY
4394   4-C2L1UANXRFWUPA                NaN   25000      ONLY_DELIVERY
4412   4-C2JZGJ6WNXDGV6                NaN   25000      ONLY_DELIVERY
4453   4-C2BYCLLCLLKFRX                NaN   25000      ONLY_DELIVERY
4515   4-CZC1FBTGCJ33R6                NaN   20000  DELIVERY_TAKEAWAY
4823   4-C2DTPCNUFALHL6                NaN   25000      ONLY_DELIVERY
7814   4-CZATPBDFL6KXJ6                NaN   20000  DELIVERY_TAKEAWAY
8614   4-CZJHE7NWCEDCEE                NaN   25000      ONLY_DELIVERY
9380   4-CZC2DFVKJJCFGT                NaN   25000  DELIVERY_TAKEAWAY
9592   4-C2NCDBU1VZAGKA                NaN   25000      ONLY_DELIVERY
9597   4-CZJ3LTWJLAUYJJ                NaN   25000      ONLY_DELIVERY
9645   4-C2JYJYCER8NEUE                NaN   25000      ONLY_DELIVERY
9978   4-C2MZV2NWJ2EJVA                NaN   10000      ONLY_DELIVERY
10028  4-C2NFRCNZGE6HUE                NaN   25000      ONLY_DELIVERY
10179  4-C2EVEAXGL3CKT2                NaN   10000      ONLY_DELIVERY
11273  4-CZDYGFB3EX42AT                NaN   25000  DELIVERY_TAKEAWAY
14076  4-C2NYAYU1EPTCNJ                NaN   25000      ONLY_DELIVERY
15767  4-C2UGGBB1AA5TAX                NaN    3000  DELIVERY_TAKEAWAY
16112  4-C2NULJ6XEELYTJ                NaN    5000  DELIVERY_TAKEAWAY
16113  4-C2CAFBU3T24BGX                NaN    5000  DELIVERY_TAKEAWAY
16114  4-CZLXBGDCNRAFPA                NaN   10000      ONLY_DELIVERY
16116  4-C2UHTUVKJB51R2                NaN    2500      ONLY_DELIVERY
16118  4-CZNVVUUZJXDCR6                NaN    5000  DELIVERY_TAKEAWAY
16120  4-C2JWAKCFE7C2TJ                NaN    5000  DELIVERY_TAKEAWAY
16121  4-C2DKPANTSA51VE                NaN    5000  DELIVERY_TAKEAWAY
16122  4-C2NULJ6WCCCKLE                NaN    5000  DELIVERY_TAKEAWAY
16123  4-C2BVAKK1J7U3EX                NaN    5000      ONLY_DELIVERY
16124  4-C2MUAJN3UEWFJN                NaN   10000      ONLY_DELIVERY
16125  4-CYMUL4M3T2KGUE                NaN    5000  DELIVERY_TAKEAWAY
16126  4-CZEFR6AUNNXTLA                NaN    5000  DELIVERY_TAKEAWAY
16127  4-C2TVG3VEC752L2                NaN    5000  DELIVERY_TAKEAWAY
16129  4-CYVETVMAR7DVLX                NaN    5000  DELIVERY_TAKEAWAY
16130  4-C2MHKEVGRYXELT                NaN   10000      ONLY_DELIVERY
16131  4-CZNFTYKKVA3UN2                NaN    5000  DELIVERY_TAKEAWAY
16132         SGDD01192                NaN    3000  DELIVERY_TAKEAWAY
16134  4-C2AHJVATN7C2RE                NaN    5000  DELIVERY_TAKEAWAY
16135  4-C2DXFEK2R6KJTJ                NaN    5000  DELIVERY_TAKEAWAY

                                                   promo
623                               No Promotion available
647    Enjoy 20% off min. spend $25 with promo code "...
893    Enjoy 20% off min. spend $25 with promo code "...
993                               No Promotion available
1009   Enjoy 20% off min. spend $25 with promo code "...
1039   Enjoy 20% off min. spend $25 with promo code "...
1043   50% off United Sports Double Shoot-Out Arcade ...
1146   Use "GRAB5313" to enjoy a $5 discount, min spe...
2165                              No Promotion available
2176                              No Promotion available
2232   S$10.00 off delivery fee with S$225.00 min. order
3831                              No Promotion available
4247                              No Promotion available
4284   Enjoy 20% off min. spend $25 with promo code "...
4374                              No Promotion available
4394                              No Promotion available
4412   Enjoy 20% off min. spend $25 with promo code "...
4453   Enjoy 20% off min. spend $25 with promo code "...
4515                              No Promotion available
4823                              No Promotion available
7814                              No Promotion available
8614   Enjoy 20% off min. spend $25 with promo code "...
9380     S$3.00 off delivery fee with S$30.00 min. order
9592                              No Promotion available
9597   Enjoy 20% off min. spend $25 with promo code "...
9645                              No Promotion available
9978   Enjoy 20% off min. spend $25 with promo code "...
10028  Enjoy 20% off min. spend $25 with promo code "...
10179                             No Promotion available
11273  Use 'TEATIME' for FREE delivery between 3PM to...
14076                             No Promotion available
15767                             No Promotion available
16112                             No Promotion available
16113                             No Promotion available
16114  Enjoy 20% off min. spend $25 with promo code "...
16116                             No Promotion available
16118                             No Promotion available
16120                             No Promotion available
16121  Use 'TEATIME' for FREE delivery between 3PM to...
16122                             No Promotion available
16123                             No Promotion available
16124  Enjoy 20% off min. spend $25 with promo code "...
16125                             No Promotion available
16126                             No Promotion available
16127                    20% off with S$30.00 min. order
16129                             No Promotion available
16130  Enjoy 20% off min. spend $25 with promo code "...
16131                             No Promotion available
16132                             No Promotion available
16134                             No Promotion available
16135  Use 'TEATIME' for FREE delivery between 3PM to...

In [ ]:
rows_with_nan

,id_source,delivery_cost_sds,radius,delivery_options,promo
623,4-CZDWKEXJV7EYNN,NaN,25000,DELIVERY_TAKEAWAY,No Promotion available
647,4-C2MTV33CJZLUSE,NaN,25000,ONLY_DELIVERY,"Enjoy 20% off min. spend $25 with promo code ""..."
893,4-CZKKEBUFAFKGCX,NaN,10000,ONLY_DELIVERY,"Enjoy 20% off min. spend $25 with promo code ""..."
993,4-CZKKEBWJAJWCR2,NaN,15000,ONLY_DELIVERY,No Promotion available
1009,4-C2KTCUK1PE22CT,NaN,25000,ONLY_DELIVERY,"Enjoy 20% off min. spend $25 with promo code ""..."
1039,4-C2NZNF6YLTL3PE,NaN,10000,ONLY_DELIVERY,"Enjoy 20% off min. spend $25 with promo code ""..."
1043,4-C2TVNK62ELN3KE,NaN,25000,ONLY_DELIVERY,50% off United Sports Double Shoot-Out Arcade ...
1146,4-CZDWKEXCPB31RT,NaN,25000,DELIVERY_TAKEAWAY,"Use ""GRAB5313"" to enjoy a $5 discount, min spe..."
2165,4-CZC2APLUCNTWN2,NaN,2500,DELIVERY_TAKEAWAY,No Promotion available
2176,4-CZD3RK6TGUKJDE,NaN,25000,DELIVERY_TAKEAWAY,No Promotion available
2232,4-C2T2JRLYLXWXR2,NaN,4000,ONLY_DELIVERY,S$10.00 off delivery fee with S$225.00 min. order
3831,4-C2T2J62YNPNBGT,NaN,25000,DELIVERY_TAKEAWAY,No Promotion available
4247,4-CZE1VPUUGGE1JT,NaN,25000,DELIVERY_TAKEAWAY,No Promotion available
4284,4-C2L2A2JECA4ETN,NaN,25000,ONLY_DELIVERY,"Enjoy 20% off min. spend $25 with promo code ""..."
4374,4-C2LXKF61AF3ANN,NaN,25000,ONLY_DELIVERY,No Promotion available
4394,4-C2L1UANXRFWUPA,NaN,25000,ONLY_DELIVERY,No Promotion available
4412,4-C2JZGJ6WNXDGV6,NaN,25000,ONLY_DELIVERY,"Enjoy 20% off min. spend $25 with promo code ""..."
4453,4-C2BYCLLCLLKFRX,NaN,25000,ONLY_DELIVERY,"Enjoy 20% off min. spend $25 with promo code ""..."
4515,4-CZC1FBTGCJ33R6,NaN,20000,DELIVERY_TAKEAWAY,No Promotion available
4823,4-C2DTPCNUFALHL6,NaN,25000,ONLY_DELIVERY,No Promotion available
7814,4-CZATPBDFL6KXJ6,NaN,20000,DELIVERY_TAKEAWAY,No Promotion available
8614,4-CZJHE7NWCEDCEE,NaN,25000,ONLY_DELIVERY,"Enjoy 20% off min. spend $25 with promo code ""..."
9380,4-CZC2DFVKJJCFGT,NaN,25000,DELIVERY_TAKEAWAY,S$3.00 off delivery fee with S$30.00 min. order
9592,4-C2NCDBU1VZAGKA,NaN,25000,ONLY_DELIVERY,No Promotion available
9597,4-CZJ3LTWJLAUYJJ,NaN,25000,ONLY_DELIVERY,"Enjoy 20% off min. spend $25 with promo code ""..."
9645,4-C2JYJYCER8NEUE,NaN,25000,ONLY_DELIVERY,No Promotion available
9978,4-C2MZV2NWJ2EJVA,NaN,10000,ONLY_DELIVERY,"Enjoy 20% off min. spend $25 with promo code ""..."
10028,4-C2NFRCNZGE6HUE,NaN,25000,ONLY_DELIVERY,"Enjoy 20% off min. spend $25 with promo code ""..."
10179,4-C2EVEAXGL3CKT2,NaN,10000,ONLY_DELIVERY,No Promotion available
11273,4-CZDYGFB3EX42AT,NaN,25000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...
14076,4-C2NYAYU1EPTCNJ,NaN,25000,ONLY_DELIVERY,No Promotion available
15767,4-C2UGGBB1AA5TAX,NaN,3000,DELIVERY_TAKEAWAY,No Promotion available
16112,4-C2NULJ6XEELYTJ,NaN,5000,DELIVERY_TAKEAWAY,No Promotion available
16113,4-C2CAFBU3T24BGX,NaN,5000,DELIVERY_TAKEAWAY,No Promotion available
16114,4-CZLXBGDCNRAFPA,NaN,10000,ONLY_DELIVERY,"Enjoy 20% off min. spend $25 with promo code ""..."
16116,4-C2UHTUVKJB51R2,NaN,2500,ONLY_DELIVERY,No Promotion available
16118,4-CZNVVUUZJXDCR6,NaN,5000,DELIVERY_TAKEAWAY,No Promotion available
16120,4-C2JWAKCFE7C2TJ,NaN,5000,DELIVERY_TAKEAWAY,No Promotion available
16121,4-C2DKPANTSA51VE,NaN,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...
16122,4-C2NULJ6WCCCKLE,NaN,5000,DELIVERY_TAKEAWAY,No Promotion available
16123,4-C2BVAKK1J7U3EX,NaN,5000,ONLY_DELIVERY,No Promotion available
16124,4-C2MUAJN3UEWFJN,NaN,10000,ONLY_DELIVERY,"Enjoy 20% off min. spend $25 with promo code ""..."
16125,4-CYMUL4M3T2KGUE,NaN,5000,DELIVERY_TAKEAWAY,No Promotion available
16126,4-CZEFR6AUNNXTLA,NaN,5000,DELIVERY_TAKEAWAY,No Promotion available
16127,4-C2TVG3VEC752L2,NaN,5000,DELIVERY_TAKEAWAY,20% off with S$30.00 min. order
16129,4-CYVETVMAR7DVLX,NaN,5000,DELIVERY_TAKEAWAY,No Promotion available
16130,4-C2MHKEVGRYXELT,NaN,10000,ONLY_DELIVERY,"Enjoy 20% off min. spend $25 with promo code ""..."
16131,4-CZNFTYKKVA3UN2,NaN,5000,DELIVERY_TAKEAWAY,No Promotion available
16132,SGDD01192,NaN,3000,DELIVERY_TAKEAWAY,No Promotion available
16134,4-C2AHJVATN7C2RE,NaN,5000,DELIVERY_TAKEAWAY,No Promotion available
16135,4-C2DXFEK2R6KJTJ,NaN,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...

In [ ]:
#To check how many columns and rows the contain NaN value.51 columns have NaN values under delivery_cost_sds
rows_with_nan.shape

(51, 5)

In [ ]:
delivery_df

,id_source,delivery_cost_sds,radius,delivery_options,promo
0,SGDD01085,5.7,5000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...
1,4-CYTDLPUJEP53N6,5.7,3000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...
2,SGDD05605,5.6,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...
3,SGDD07548,5.6,5000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...
4,4-CY2ZLZLTT2EDJ2,5.7,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...
...,...,...,...,...,...
16131,4-CZNFTYKKVA3UN2,NaN,5000,DELIVERY_TAKEAWAY,No Promotion available
16132,SGDD01192,NaN,3000,DELIVERY_TAKEAWAY,No Promotion available
16133,SGDD00961,5.6,3000,DELIVERY_TAKEAWAY_DINEIN,No Promotion available
16134,4-C2AHJVATN7C2RE,NaN,5000,DELIVERY_TAKEAWAY,No Promotion available
16135,4-C2DXFEK2R6KJTJ,NaN,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...

In [ ]:
grab_rest_name=grab_rest [['id_source','name']]
grab_rest_name

              id_source                         name
0             SGDD01085                Texas Chicken
1      4-CYTDLPUJEP53N6                       Subway
2             SGDD05605                     LiHO Tea
3             SGDD07548                     Wingstop
4      4-CY2ZLZLTT2EDJ2              Le Shrimp Ramen
...                 ...                          ...
16131  4-CZNFTYKKVA3UN2                 Minjiangkueh
16132         SGDD01192  The Modern Izakaya by Tatsu
16133         SGDD00961               Raj Restaurant
16134  4-C2AHJVATN7C2RE   Albismi Indian Muslim Food
16135  4-C2DXFEK2R6KJTJ  Zam Zam Indian Special Food

[16136 rows x 2 columns]

In [ ]:
# Using isna() method to create a boolean mask for NaN values
nan_mask_main = grab_rest_name.isna().any(axis=1)

# Filter the DataFrame to select rows with NaN values
names_with_nan = grab_rest_name[nan_mask_main]

# Display the rows with NaN values
print(names_with_nan)

             id_source name
628   4-CZDJJTWFC8BAAN  NaN
631   4-C2T2GYAJBEVFJN  NaN
688   4-CZLVCKMHNYTXNX  NaN
692   4-CZKKR7K2JJ22NT  NaN
702   4-CYNANF42AEVAVA  NaN
1031  4-CZEXEPEWN6KKEN  NaN

In [ ]:
# List of values to delete
rows_to_delete = ['4-CZDJJTWFC8BAAN','4-C2T2GYAJBEVFJN','4-CZLVCKMHNYTXNX','4-CZKKR7K2JJ22NT', '4-CYNANF42AEVAVA','4-CZEXEPEWN6KKEN']  

# Filtering the DataFrame to exclude rows with specified values in the 'id_source' column
delivery_df = delivery_df[~delivery_df['id_source'].isin(rows_to_delete)]

# Alternatively, if you want to drop rows directly based on the specified values
# delivery_df = delivery_df.drop(delivery_df[delivery_df['id_source'].isin(values_to_delete)].index)

# Verify the DataFrame after deletion
delivery_df #now after 6 rows got deleted,now we have only 16130 rows and 5 columns

,id_source,delivery_cost_sds,radius,delivery_options,promo
0,SGDD01085,5.7,5000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...
1,4-CYTDLPUJEP53N6,5.7,3000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...
2,SGDD05605,5.6,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...
3,SGDD07548,5.6,5000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...
4,4-CY2ZLZLTT2EDJ2,5.7,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...
...,...,...,...,...,...
16131,4-CZNFTYKKVA3UN2,NaN,5000,DELIVERY_TAKEAWAY,No Promotion available
16132,SGDD01192,NaN,3000,DELIVERY_TAKEAWAY,No Promotion available
16133,SGDD00961,5.6,3000,DELIVERY_TAKEAWAY_DINEIN,No Promotion available
16134,4-C2AHJVATN7C2RE,NaN,5000,DELIVERY_TAKEAWAY,No Promotion available
16135,4-C2DXFEK2R6KJTJ,NaN,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...

In [ ]:
delivery_df.iloc[650:705] #just checking if the rows are deleted.

,id_source,delivery_cost_sds,radius,delivery_options,promo
652,4-C2K3RYCDALCXVX,21.1,25000,DELIVERY_TAKEAWAY,"Use promo code ""TRMFOOD5"" at checkout to enjoy..."
653,SGDD10032,15.5,25000,DELIVERY_TAKEAWAY,$3 OFF Del Fee!
654,4-CZCKL341LYMDBE,17.7,25000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...
655,4-C2BJMCKJSEETLA,23.0,25000,DELIVERY_TAKEAWAY,Free Delivery (June 2021)
656,4-CYMFLRM3VNDGRN,20.2,25000,DELIVERY_TAKEAWAY,No Promotion available
657,4-CY4XKE3TSCBFNT,22.1,25000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...
658,SGDD10157,17.3,25000,DELIVERY_TAKEAWAY,No Promotion available
659,4-C2LFVVK1GCBCR6,24.6,25000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...
660,SGDD10141,23.0,25000,DELIVERY_TAKEAWAY,No Promotion available
661,4-CZJET3DFPA2AFE,23.0,25000,DELIVERY_TAKEAWAY,No Promotion available
662,SGDD10719,23.0,25000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...
663,4-CZEUT3UCT6XZV6,23.0,25000,ONLY_DELIVERY,No Promotion available
664,4-CYLJWGMAVATCNN,18.1,25000,DELIVERY_TAKEAWAY,No Promotion available
665,SGDD01793,23.0,25000,DELIVERY_TAKEAWAY,No Promotion available
666,SGDD01561,21.2,25000,DELIVERY_TAKEAWAY,"Use promo code ""TRMFOOD5"" at checkout to enjoy..."
667,SGDD09806,23.0,25000,DELIVERY_TAKEAWAY,No Promotion available
668,4-CZDTFE6GTY3AVJ,23.7,25000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...
669,SGDD05635,18.6,25000,DELIVERY_TAKEAWAY,50% off Thai Iced Tea
670,4-C2DYCFVFL6XCFA,16.0,10000,ONLY_DELIVERY,"Enjoy 20% off min. spend $25 with promo code ""..."
671,4-CZKUPAXKRTX3JE,8.0,25000,DELIVERY_TAKEAWAY,No Promotion available
672,4-C2LXJ8CFTJCAGJ,21.1,25000,ONLY_DELIVERY,"Enjoy 20% off min. spend $25 with promo code ""..."
673,4-CZEFT4NETY4GTE,23.0,25000,DELIVERY_TAKEAWAY,No Promotion available
674,4-CYXJTB3DKEMJGN,17.8,25000,DELIVERY_TAKEAWAY,No Promotion available
675,4-CZCTJXEWPBK1TA,17.7,25000,ONLY_DELIVERY,No Promotion available
676,4-CY6XVVMCBA22VT,24.9,25000,DELIVERY_TAKEAWAY,No Promotion available
677,4-CYMUL4NERZE2E6,24.9,25000,DELIVERY_TAKEAWAY,No Promotion available
678,SGDD00905,24.9,25000,DELIVERY_TAKEAWAY,No Promotion available
679,SGDD10292,17.0,10000,ONLY_DELIVERY,No Promotion available
680,4-C2NYAYEGRGAWGE,24.2,25000,DELIVERY_TAKEAWAY,No Promotion available
681,SGDD00721,23.4,25000,DELIVERY_TAKEAWAY,No Promotion available
682,4-CZLBSFBYPGETTN,17.7,10000,ONLY_DELIVERY,"Enjoy 20% off min. spend $25 with promo code ""..."
683,4-C2AGVU2XJJN1VJ,17.9,10000,ONLY_DELIVERY,No Promotion available
684,SGDD11783,24.9,25000,DELIVERY_TAKEAWAY,No Promotion available
685,SGDD01452,23.0,25000,DELIVERY_TAKEAWAY,No Promotion available
686,SGDD10358,23.0,25000,DELIVERY_TAKEAWAY,No Promotion available
687,4-C2KFAE6UUE2TJJ,22.1,25000,DELIVERY_TAKEAWAY,No Promotion available
689,SGDD09263,23.3,25000,DELIVERY_TAKEAWAY,20% off Grilled Fish
690,4-CYWXBAUYRUBBUE,23.0,25000,DELIVERY_TAKEAWAY,No Promotion available
691,4-CZLAVTKZWAJ2J2,23.0,25000,ONLY_DELIVERY,"Free delivery, capped at $8 with Min spend $60"
693,4-C2A2RJ31TYB2R6,16.1,10000,ONLY_DELIVERY,"Enjoy 20% off min. spend $25 with promo code ""..."
694,4-CYU2V2KKVKUDRT,23.0,2500,DELIVERY_TAKEAWAY,$27 off Mix & Match Value Bundle 2B
695,4-C2LCG3CHNRNHSE,17.7,10000,ONLY_DELIVERY,"Enjoy 20% off min. spend $25 with promo code ""..."
696,4-C2DJC6LBCNTZJE,19.0,10000,ONLY_DELIVERY,"Enjoy 20% off min. spend $25 with promo code ""..."
697,SGDD07606,24.9,25000,DELIVERY_TAKEAWAY,$0 Delivery Fee (min. $80 spend)!
698,SGDD12123,21.2,25000,DELIVERY_TAKEAWAY,No Promotion available
699,4-C2KKJ2LAN2L3GN,3.0,25000,ONLY_DELIVERY,No Promotion available
700,4-C2NUJ4CFAJK2R2,5.0,25000,ONLY_DELIVERY,No Promotion available
701,SGDD06876,22.9,25000,DELIVERY_TAKEAWAY,No Promotion available
703,SGDD11819,24.9,25000,DELIVERY_TAKEAWAY,No Promotion available
704,SGDD02908,24.9,25000,DELIVERY_TAKEAWAY,No Promotion available
705,SGDD07978,23.0,25000,DELIVERY_TAKEAWAY,No Promotion available
706,SGDD10543,24.5,25000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...
707,SGDD10509,18.8,25000,DELIVERY_TAKEAWAY,No Promotion available
708,4-C2KCMA6VLB6WRN,15.0,25000,ONLY_DELIVERY,No Promotion available
709,SGDD10401,24.9,25000,DELIVERY_TAKEAWAY,"""WISMA5OFF"", $5 discount with min spending $10!"

In [ ]:
#unique_identifiers
delivery_df ['delivery_options'].unique()

array(['ONLY_DELIVERY', 'DELIVERY_TAKEAWAY', 'DELIVERY_DINEIN',
       'DELIVERY_TAKEAWAY_DINEIN'], dtype=object)

In [ ]:
delivery_options_df =delivery_df[['delivery_options']]
delivery_options_df

               delivery_options
0                 ONLY_DELIVERY
1                 ONLY_DELIVERY
2             DELIVERY_TAKEAWAY
3                 ONLY_DELIVERY
4             DELIVERY_TAKEAWAY
...                         ...
16131         DELIVERY_TAKEAWAY
16132         DELIVERY_TAKEAWAY
16133  DELIVERY_TAKEAWAY_DINEIN
16134         DELIVERY_TAKEAWAY
16135         DELIVERY_TAKEAWAY

[16130 rows x 1 columns]

In [ ]:
# Create new columns with default False values
#delivery_options_df['delivery'] = False
#delivery_options_df['take_away'] = False
#delivery_options_df['dine_in'] = False

# Update values based on conditions
#delivery_options_df.loc[delivery_options_df['delivery_options'].str.contains('delivery', case=False), 'delivery'] = True
#delivery_options_df.loc[delivery_options_df['delivery_options'].str.contains('take', case=False), 'take_away'] = True
#delivery_options_df.loc[delivery_options_df['delivery_options'].str.contains('dine', case=False), 'dine_in'] = True

# Display the modified DataFrame
delivery_options_df

               delivery_options
0                 ONLY_DELIVERY
1                 ONLY_DELIVERY
2             DELIVERY_TAKEAWAY
3                 ONLY_DELIVERY
4             DELIVERY_TAKEAWAY
...                         ...
16131         DELIVERY_TAKEAWAY
16132         DELIVERY_TAKEAWAY
16133  DELIVERY_TAKEAWAY_DINEIN
16134         DELIVERY_TAKEAWAY
16135         DELIVERY_TAKEAWAY

[16130 rows x 1 columns]

In [ ]:
# Create new columns with default False values
delivery_df['delivery'] = False
delivery_df['take_away'] = False
delivery_df['dine_in'] = False

# Update values based on conditions
delivery_df.loc[delivery_df['delivery_options'].str.contains('delivery', case=False), 'delivery'] = True
#For the 'delivery' column, it checks if the 'delivery_options' column contains the word 'delivery' (case insensitive), and if so, sets the corresponding value in the 'delivery' column to True.
delivery_df.loc[delivery_df['delivery_options'].str.contains('take', case=False), 'take_away'] = True
# For the 'take_away' column, it checks if the 'delivery_options' column contains the word 'take' (case insensitive), and if so, sets the corresponding value in the 'take_away' column to True.
delivery_df.loc[delivery_df['delivery_options'].str.contains('dine', case=False), 'dine_in'] = True

# Display the modified DataFrame
delivery_df

C:\Users\T470\AppData\Local\Temp\ipykernel_29288\3044766428.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['delivery'] = False
C:\Users\T470\AppData\Local\Temp\ipykernel_29288\3044766428.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['take_away'] = False
C:\Users\T470\AppData\Local\Temp\ipykernel_29288\3044766428.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['dine_in'] = False

,id_source,delivery_cost_sds,radius,delivery_options,promo,delivery,take_away,dine_in
0,SGDD01085,5.7,5000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...,True,False,False
1,4-CYTDLPUJEP53N6,5.7,3000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...,True,False,False
2,SGDD05605,5.6,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...,True,True,False
3,SGDD07548,5.6,5000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...,True,False,False
4,4-CY2ZLZLTT2EDJ2,5.7,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...,True,True,False
...,...,...,...,...,...,...,...,...
16131,4-CZNFTYKKVA3UN2,NaN,5000,DELIVERY_TAKEAWAY,No Promotion available,True,True,False
16132,SGDD01192,NaN,3000,DELIVERY_TAKEAWAY,No Promotion available,True,True,False
16133,SGDD00961,5.6,3000,DELIVERY_TAKEAWAY_DINEIN,No Promotion available,True,True,True
16134,4-C2AHJVATN7C2RE,NaN,5000,DELIVERY_TAKEAWAY,No Promotion available,True,True,False
16135,4-C2DXFEK2R6KJTJ,NaN,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...,True,True,False

In [ ]:
delivery_df

,id_source,delivery_cost_sds,radius,delivery_options,promo,delivery,take_away,dine_in
0,SGDD01085,5.7,5000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...,True,False,False
1,4-CYTDLPUJEP53N6,5.7,3000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...,True,False,False
2,SGDD05605,5.6,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...,True,True,False
3,SGDD07548,5.6,5000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...,True,False,False
4,4-CY2ZLZLTT2EDJ2,5.7,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...,True,True,False
...,...,...,...,...,...,...,...,...
16131,4-CZNFTYKKVA3UN2,NaN,5000,DELIVERY_TAKEAWAY,No Promotion available,True,True,False
16132,SGDD01192,NaN,3000,DELIVERY_TAKEAWAY,No Promotion available,True,True,False
16133,SGDD00961,5.6,3000,DELIVERY_TAKEAWAY_DINEIN,No Promotion available,True,True,True
16134,4-C2AHJVATN7C2RE,NaN,5000,DELIVERY_TAKEAWAY,No Promotion available,True,True,False
16135,4-C2DXFEK2R6KJTJ,NaN,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...,True,True,False

In [ ]:
#adding new index column ,'delivery_id'.
delivery_df['delivery_id']= 'delv_'+(delivery_df.index+1).astype(str)

delivery_df= delivery_df.set_index ('delivery_id').reset_index()

delivery_df

C:\Users\T470\AppData\Local\Temp\ipykernel_29288\241047542.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['delivery_id']= 'delv_'+(delivery_df.index+1).astype(str)

,delivery_id,id_source,delivery_cost_sds,radius,delivery_options,promo,delivery,take_away,dine_in
0,delv_1,SGDD01085,5.7,5000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...,True,False,False
1,delv_2,4-CYTDLPUJEP53N6,5.7,3000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...,True,False,False
2,delv_3,SGDD05605,5.6,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...,True,True,False
3,delv_4,SGDD07548,5.6,5000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...,True,False,False
4,delv_5,4-CY2ZLZLTT2EDJ2,5.7,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...,True,True,False
...,...,...,...,...,...,...,...,...,...
16125,delv_16132,4-CZNFTYKKVA3UN2,NaN,5000,DELIVERY_TAKEAWAY,No Promotion available,True,True,False
16126,delv_16133,SGDD01192,NaN,3000,DELIVERY_TAKEAWAY,No Promotion available,True,True,False
16127,delv_16134,SGDD00961,5.6,3000,DELIVERY_TAKEAWAY_DINEIN,No Promotion available,True,True,True
16128,delv_16135,4-C2AHJVATN7C2RE,NaN,5000,DELIVERY_TAKEAWAY,No Promotion available,True,True,False
16129,delv_16136,4-C2DXFEK2R6KJTJ,NaN,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...,True,True,False

In [ ]:
delivery_df.iloc[5850:5862]

,delivery_id,id_source,delivery_cost_sds,radius,delivery_options,promo,delivery,take_away,dine_in
5850,delv_5857,4-CZCZNEKAL3M1EE,5.0,5000,ONLY_DELIVERY,"Enjoy 20% off min. spend $25 with promo code ""...",True,False,False
5851,delv_5858,4-C2B3JTEVGKCEN2,4.0,2500,DELIVERY_TAKEAWAY,No Promotion available,True,True,False
5852,delv_5859,SGDD00623,5.5,4993,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...,True,False,False
5853,delv_5860,4-CZL2ETT2EVE3VJ,5.4,5000,DELIVERY_TAKEAWAY,No Promotion available,True,True,False
5854,delv_5861,4-CZD2TXJGR4NHT2,4.2,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...,True,True,False
5855,delv_5862,4-CZLJATEJCAX2N6,4.2,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...,True,True,False
5856,delv_5863,4-CZNZCPU2CN2UAJ,6.2,9990,ONLY_DELIVERY,"Enjoy 20% off min. spend $25 with promo code ""...",True,False,False
5857,delv_5864,4-C2BXJGLXNJXJHA,4.0,25000,ONLY_DELIVERY,No Promotion available,True,False,False
5858,delv_5865,4-C2TYT8ECEJWTRA,4.1,4950,DELIVERY_TAKEAWAY,10% off with S$30.00 min. order,True,True,False
5859,delv_5866,4-C2D3G3CETKLEEJ,4.1,5000,DELIVERY_TAKEAWAY,No Promotion available,True,True,False
5860,delv_5867,4-CZLGVNAHAN2DCJ,5.0,4000,ONLY_DELIVERY,Discounted Items,True,False,False
5861,delv_5868,4-CYN1J3KTRKLWAJ,4.1,4993,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...,True,True,False

In [ ]:
delivery_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16130 entries, 0 to 16129
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   delivery_id        16130 non-null  object
 1   id_source          16130 non-null  object
 2   delivery_cost_sds  16079 non-null  float64
 3   radius             16130 non-null  int64
 4   delivery_options   16130 non-null  object
 5   promo              16130 non-null  object
 6   delivery           16130 non-null  bool
 7   take_away          16130 non-null  bool
 8   dine_in            16130 non-null  bool
dtypes: bool(3), float64(1), int64(1), object(4)
memory usage: 803.5+ KB

In [ ]:
#delivery_df.to_csv(r'C:\Users\Ros\Desktop\JDC\grab project\delivery_data.csv')

# Uploading table to database grab_db: delivery_tbl - ROSNI

In [ ]:
from sqlalchemy import create_engine
username='postgres'
password = 'admin'
hostname = 'localhost'
port = 5432
database = 'grab_db'

connection_uri = f'postgresql://{username}:{password}@{hostname}:{port}/{database}'

#connection_uri ='postgresql://postgres:rosni@localhost:5432/grab_db' #uri for connecting to postgrsql
engine = create_engine (connection_uri) #engine for connecting 
delivery_df.to_sql('delivery_tbl',engine, if_exists='replace',index=False) #copying the delivery_df to delivery_tbl

Requirement already satisfied: pandas in c:\users\t470\appdata\local\programs\python\python311\lib\site-packages (2.2.0)
Requirement already satisfied: sqlalchemy in c:\users\t470\appdata\local\programs\python\python311\lib\site-packages (2.0.29)
Requirement already satisfied: psycopg2 in c:\users\t470\appdata\local\programs\python\python311\lib\site-packages (2.9.9)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\t470\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\t470\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\t470\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\t470\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\t470\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (4.7.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\t470\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: six>=1.5 in c:\users\t470\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

130

In [ ]:

# Create a new establishment table
commands = ('''Create TABLE IF NOT EXISTS establishment_tbl(id_source VARCHAR PRIMARY KEY,
                                                name VARCHAR,
                                                address VARCHAR,
                                                lat NUMERIC,
                                                lon NUMERIC,
                                                rating NUMERIC,
                                                reviews_nr NUMERIC,
                                                loc_type VARCHAR
                                                );''')

#Copy the data to the PostgreSQL table
#establishment_df.to_sql('establishment_tbl', engine, if_exists='replace',index=False)